<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Domine&family=Lato:wght@300&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>
	<title>Consult-Vadym</title>
</head>
<body>
	<header class="main-header">
		<div class="header-top">
			<div class="container">
				<div class="header-top-inner">
					<div class="contact">Email : <span>info@consultplus.com</span></div>
					<div class="contact">Phone : <span class="phone">+91 5685 6664 555</span></div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="header-bottom-inner">
					<a href="#"><img src="assets/img/logo-header.png" alt=""></a>
					<ul class="main-menu">
						<li><a href="index.html">Home</a></li>
						<li class="active"><a href="#">About us</a></li>
						<li><a href="#">Industry</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
					<div class="main-burger">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="section-top">
		<div class="container">
			<div class="section-top-head">
				<div class="section-top-circle"> </div>
				<h1>About us</h1>
			</div>
		</div>
	</section>
	<section class="wedo">
		<div class="container">
			<div class="top-title">What we do</div>
			<h3>About us</h3>
			<div class="row">
				<div class="col-lg-6 col-md-12 wedo-left">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				</div>
				<div class="col-lg-6 col-md-12 wedo-right">
					<div class="wedo-text">
						<p>Many desktop publishing packages 
						and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions.</p>
					</div>
					<div class="about-excellence">
						<div class="about-medal">
							<img src="assets/img/badge_icon.png" alt="">
							<span>25</span>
							<div class="medal-year">year of excellence</div>
						</div>
						<span class="wedo-number">650</span>
						<div class="medal-year">happy clients</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="core">
		<div class="container">
			<div class="top-title">Our</div>
			<h3>Core values</h3>
			<div class="row">
				<div class="col-lg-4 col-md-12 infobox-wrapper">
					<img src="assets/img/About-us/smile-icon.png" alt="">
					<h5>Client Satisfaction</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper">
					<img src="assets/img/About-us/support.png" alt="">
					<h5>Fully Support</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper">
					<img src="assets/img/About-us/icon-win.png" alt="">
					<h5>We play to win</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="vision">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 vision-col">
					<div class="top-title">Our</div>
					<h3>Vision</h3>
					<div class="vision-img">
						<a href="#"><img src="assets/img/About-us/vision.jpg" alt=""></a>
					</div>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
				</div>
				<div class="col-lg-6 col-md-12 vision-col">
					<div class="top-title">Our</div>
					<h3>Mission</h3>
					<div class="vision-img">
						<a href="#"><img src="assets/img/About-us/mision.jpg" alt=""></a>
					</div>
					<p>Packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident.</p>
				</div>
			</div>
			<div class="button-bottom">
				<a href="#" class="button btn-long">Contact us</a>
			</div>
		</div>
	</section>
</body>