<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Domine&family=Lato:wght@300&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>
	<title>Consult-Vadym</title>
</head>
<body>
	<header class="main-header">
		<div class="header-top">
			<div class="container">
				<div class="header-top-inner">
					<div class="contact">Email : <span>info@consultplus.com</span></div>
					<div class="contact">Phone : <span class="phone">+91 5685 6664 555</span></div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="header-bottom-inner">
					<a href="#"><img src="assets/img/logo-header.png" alt=""></a>
					<ul class="main-menu">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="about-us.html">About us</a></li>
						<li><a href="industry.html">Industry</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
					<div class="main-burger">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="industry color-scheme-light">
		<div class="slider-left">
			<i class="fa fa-angle-left" aria-hidden="true"></i>
		</div>
		<div class="slider-right">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</div>
		<div class="container">
			<div class="row industry-slider-box">
				<div class="col-lg-12 back-orange">
					<p>We are leading consulting company</p>
					<h3>Choose your industry</h3>
				</div>
					<div class="col-lg-6 col-sm-12 industry-col">
						<a href="#" class="slider-box-link"></a>
						<div class="slider-box-inner">
							<div class="slider-box-inner-left">
								<img src="assets/img/icon_education.png" alt="">
								<h6>Education</h6>
							</div>
							<div class="slider-box-inner-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12 industry-col">
						<a href="#" class="slider-box-link"></a>
						<div class="slider-box-inner">
							<div class="slider-box-inner-left">
								<img src="assets/img/icon_business.png" alt="">
								<h6>Business</h6>
							</div>
							<div class="slider-box-inner-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12 industry-col">
						<a href="#" class="slider-box-link"></a>
						<div class="slider-box-inner">
							<div class="slider-box-inner-left">
								<img src="assets/img/icon_technology.png" alt="">
								<h6>Technology</h6>
							</div>
							<div class="slider-box-inner-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12 industry-col">
						<a href="#" class="slider-box-link"></a>
						<div class="slider-box-inner">
							<div class="slider-box-inner-left">
								<img src="assets/img/icon_realestate.png" alt="">
								<h6>Real-staet</h6>
							</div>
							<div class="slider-box-inner-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12 industry-col">
						<a href="#" class="slider-box-link"></a>
						<div class="slider-box-inner">
							<div class="slider-box-inner-left">
								<img src="assets/img/icon_banking.png" alt="">
								<h6>Banking</h6>
							</div>
							<div class="slider-box-inner-right">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12 industry-col slider-box-btn">
						<div class="btn-large">
							<a href="#" class="button button-large">View more</a>
						</div>
					</div>
				</div>
			</div>
	</section>
	<section class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-12 about-btm">
					<div class="about-left">
						<div class="top-title">What we are</div>
						<h3>About us</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
					<a href="#" class="button">Read more</a>
					</div>
				</div>
				<div class="col-lg-5 col-md-12 about-btm">
					<div class="about-right">
						<img src="assets/img/about-image.jpg" alt="">
						<div class="about-excellence">
							<div class="about-medal">
								<img src="assets/img/badge_icon.png" alt="">
								<span>25</span>
								<div class="medal-year">year of excellence</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="steps">
		<div class="container">
			<div class="top-title">Our</div>
			<h3>Steps</h3>
			<div class="row">
				<div class="col-lg-4 col-md-12 infobox-wrapper">
					<img src="assets/img/step-icon1.png" alt="">
					<div class="infobox-number">01</div>
					<h5>Choose your industry</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper">
					<img src="assets/img/step-icon2.png" alt="">
					<div class="infobox-number">02</div>
					<h5>Choose your service</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper">
					<img src="assets/img/step-icon3.png" alt="">
					<div class="infobox-number">03</div>
					<h5>Boost your business</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="project">
		<div class="container">
			<div class="top-title">Featured</div>
			<h3>Projects</h3>
			<div class="row project-btm color-scheme-light">
				<div class="col-lg-6 col-md-12 project-col-btm">
					<div class="project-wrapper">
						<div class="project-img">
							<img src="assets/img/project1.png" alt="">
						</div>
						<a href="#"></a>
						<div class="project-item">Banking</div>
						<div class="project-inner">
							<h5>Project heading</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and... </p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 project-col-btm">
					<div class="row">
						<div class="col-lg-6 col-md-12 project-col-btm">
							<div class="project-wrapper">
								<div class="project-img">
									<img src="assets/img/project2.png" alt="">
								</div>
								<a href="#"></a>
								<div class="project-item">Banking</div>
								<div class="project-inner">
									<h5>Project heading</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and... </p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12 project-col-btm">
							<div class="project-wrapper">
								<div class="project-img">
									<img src="assets/img/project3.png" alt="">
								</div>
								<a href="#"></a>
								<div class="project-item">Banking</div>
								<div class="project-inner">
									<h5>Project heading</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and... </p>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="project-wrapper">
								<div class="project-img">
									<img src="assets/img/project4.png" alt="">
								</div>
								<a href="#"></a>
								<div class="project-item">Banking</div>
								<div class="project-inner">
									<h5>Project heading</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and... </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="button-bottom">
				<a href="#" class="button">Full projects</a>
			</div>
		</div>
	</section>
	<section class="clients color-scheme-light">
		<div class="container">
			<div class="top-title"><span>Happy clients</span></div>
			<h3>Testimonials</h3>
			<div class="row clients-row-btm">
				<div class="col-md-1 clients-col">
					<img src="assets/img/test-left.png" alt="">
				</div>
				<div class="col-md-10 clients-col clients-text-top">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 	unknown printer took a galley of type and scrambled it to make a type speci
					book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p>
					<div class="clients-border"></div>
				</div>
				<div class="col-md-1 clients-col">
					<img src="assets/img/test-right.png" alt="">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-12 clients-info active">
					<img src="assets/img/test-foto1.png" alt="">
					<div class="clients-reviews">
						<h6>Client name</h6>
						<span>Designation</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 clients-info">
					<img src="assets/img/test-foto2.png" alt="">
					<div class="clients-reviews">
						<h6>Client name</h6>
						<span>Designation</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 clients-info">
					<img src="assets/img/test-foto3.png" alt="">
					<div class="clients-reviews">
						<h6>Client name</h6>
						<span>Designation</span>
					</div>
				</div>
				<div class="col-md-1 offset-lg-2 clients-info">
					<div class="client-circle active">
						<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
					</div>
					<div class="client-circle">
						<i class="fa fa-circle-o" aria-hidden="true"></i>
					</div>
					<div class="client-circle">
						<i class="fa fa-circle-o" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="blog">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-12 blog-wrapper">
					<div class="blog-inner">
						<div class="blog-top">
							<div class="blog-title">
								<div class="top-title">News</div>
								<h3>Our blog</h3>
							</div>
							<ul class="blog-tab">
								<li class="active"><a href="#">Top posts</a></li>
								<li><a href="#">Check all posts</a></li>
							</ul>
						</div>
						<div class="blog-item">
							<div class="blog-date">February <span class="date-color">20, 2016</span></div>
							<h5>Blog Heading here Business</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
						</div>
						<div class="blog-item">
							<div class="blog-date">February 22, 2016</div>
							<h5>many variations of passages of Ipsum</h5>
							<p>Established fact that a reader will be distracted by the readable
								of a page when looking at its layout. The point of using Lorem...</p>
						</div>
						<div class="blog-item">
							<div class="blog-date">February 25, 2016</div>
							<h5>Internet tend to repeat predefined</h5>
							<p>Popularised in the 1960s with the release of Letraset sheets 
								containing Lorem Ipsum passages...</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 blog-right">
				</div>
			</div>
		</div>
	</section>
	<section class="consulting">
		<div class="container">
			<div class="top-title">for Consulting</div>
			<h3>Contact us</h3>
			<div class="row">
				<div class="col-lg-4 col-md-12 consulting-col">
					<div class="consulting-inner">
						<img src="assets/img/consulting-email.png" alt="">
						<div class="consulting-text">
							<h5>Email</h5>
							<p>info@consultplus.com</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 consulting-col">
					<div class="consulting-inner">
						<img src="assets/img/consulting-call.png" alt="">
						<div class="consulting-text">
							<h5>Call us</h5>
							<p>+91 8879 8767 990</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 consulting-col">
					<div class="consulting-inner">
						<img src="assets/img/consulting-career.png" alt="">
						<div class="consulting-text">
							<h5>Career</h5>
							<p>consult@career.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="main-footer color-scheme-light">
		<div class="container">
			<div class="row main-footer-row">
				<div class="col-lg-6 col-md-12 main-footer-col">
					<h4>Newsletter</h4>
					<p>Enter your email address to subscribe our notification of our new post & features by email.</p>
					<form action="#" class="newsletter-form">
						<input type="text" placeholder="Email Address">
						<input type="submit" value="subscribe" class="button">
					</form>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-12">
					<h4>Navigation</h4>
					<ul class="info-list">
						<li><a href="#">Home</a></li>
						<li><a href="about-us.html">About us</a></li>
						<li><a href="industry.html">Industry</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-12">
					<h4>Industry</h4>
					<ul class="info-list">
						<li><a href="#">Education</a></li>
						<li><a href="#">business</a></li>
						<li><a href="#">realestate</a></li>
						<li><a href="#">technology</a></li>
						<li><a href="#">banking</a></li>
						<li><a href="#">telicommunication</a></li>
						<li><a href="#">much more</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-12">
					<h4>Folow us</h4>
					<ul class="info-list">
						<li><a href="#">Facebook</a></li>
						<li><a href="#">twitter</a></li>
						<li><a href="#">instagram</a></li>
						<li><a href="#">linkedin</a></li>
						<li><a href="#">google +</a></li>
					</ul>
				</div>
			</div>
			<div class="copyright">
				<p>Copyright © 2016 Consultplus theme.</p>
			</div>
		</div>
	</footer>
	
</body>
</html>