<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Domine&family=Lato:wght@300&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>
	<title>Consult-Vadym</title>
</head>
<body>
	<header class="main-header">
		<div class="header-top">
			<div class="container">
				<div class="header-top-inner">
					<div class="contact">Email : <span>info@consultplus.com</span></div>
					<div class="contact">Phone : <span class="phone">+91 5685 6664 555</span></div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="header-bottom-inner">
					<a href="#"><img src="assets/img/logo-header.png" alt=""></a>
					<ul class="main-menu">
						<li><a href="#">Home</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Industry</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
					<div class="main-burger">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="industry color-scheme-light">
		<div class="slider-left">
			<i class="fa fa-angle-left" aria-hidden="true"></i>
		</div>
		<div class="slider-right">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</div>
		<div class="container">
			<div class="industry-slider-box">
				<div class="row">
					<div class="col-lg-12 back-orange">
						<p>We are leading consulting company</p>
						<h3>Choose your industry</h3>
					</div>
						<div class="col-lg-6 col-sm-12 industry-col">
							<a href="#" class="slider-box-link"></a>
							<div class="slider-box-inner">
								<div class="slider-box-inner-left">
									<img src="assets/img/icon_education.png" alt="">
									<h6>Education</h6>
								</div>
								<div class="slider-box-inner-right">
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-12 industry-col">
							<a href="#" class="slider-box-link"></a>
							<div class="slider-box-inner">
								<div class="slider-box-inner-left">
									<img src="assets/img/icon_business.png" alt="">
									<h6>Business</h6>
								</div>
								<div class="slider-box-inner-right">
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-12 industry-col">
							<a href="#" class="slider-box-link"></a>
							<div class="slider-box-inner">
								<div class="slider-box-inner-left">
									<img src="assets/img/icon_technology.png" alt="">
									<h6>Technology</h6>
								</div>
								<div class="slider-box-inner-right">
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-12 industry-col">
							<a href="#" class="slider-box-link"></a>
							<div class="slider-box-inner">
								<div class="slider-box-inner-left">
									<img src="assets/img/icon_realestate.png" alt="">
									<h6>Real-staet</h6>
								</div>
								<div class="slider-box-inner-right">
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-12 industry-col">
							<a href="#" class="slider-box-link"></a>
							<div class="slider-box-inner">
								<div class="slider-box-inner-left">
									<img src="assets/img/icon_banking.png" alt="">
									<h6>Banking</h6>
								</div>
								<div class="slider-box-inner-right">
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-12 industry-col slider-box-btn">
							<div class="btn-large">
								<a href="#" class="button button-large">View more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<section class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-6 col-sm-12 about-btm">
					<div class="about-left">
						<span class="top-title">What we are</span>
						<h3>About us</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
					<a href="#" class="button">Read more</a>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-12 about-btm">
					<img src="assets/img/about-image.jpg" alt="">
					<div class="about-excellence">
						<img src="assets/img/about-25year.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="steps">
		<div class="container">
			<span class="top-title">Our</span>
			<h3>Steps</h3>
			<div class="row">
				<div class="col-lg-4 col-md-12 steps-wrapper">
					<img src="assets/img/step-icon1.png" alt="">
					<div class="steps-number">01</div>
					<h5>Choose your industry</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
				</div>
				<div class="col-lg-4 col-md-12 steps-wrapper">
					<img src="assets/img/step-icon2.png" alt="">
					<div class="steps-number">02</div>
					<h5>Choose your service</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
				</div>
				<div class="col-lg-4 col-md-12 steps-wrapper">
					<img src="assets/img/step-icon3.png" alt="">
					<div class="steps-number">03</div>
					<h5>Boost your business</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
				</div>
			</div>
		</div>
	</section>
	
</body>
</html>