<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Domine&family=Lato:wght@300&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>
	<title>Consult-Vadym</title>
</head>
<body>
	<header class="main-header">
		<div class="header-top">
			<div class="container">
				<div class="header-top-inner">
					<div class="contact">Email : <span>info@consultplus.com</span></div>
					<div class="contact">Phone : <span class="phone">+91 5685 6664 555</span></div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="header-bottom-inner">
					<a href="#"><img src="assets/img/logo-header.png" alt=""></a>
					<ul class="main-menu">
						<li><a href="index.html">Home</a></li>
						<li><a href="about-us.html">About us</a></li>
						<li class="active"><a href="#">Industry</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
					<div class="main-burger">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="section-top">
		<div class="container">
			<div class="section-top-head">
				<div class="section-top-circle"> </div>
				<h1>Industry</h1>
			</div>
		</div>
	</section>