<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Domine&family=Lato:wght@300&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>
	<title>Consult-Vadym</title>
</head>
<body>
	<header class="main-header">
		<div class="header-top">
			<div class="container">
				<div class="header-top-inner">
					<div class="contact">Email : <span>info@consultplus.com</span></div>
					<div class="contact">Phone : <span class="phone">+91 5685 6664 555</span></div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="header-bottom-inner">
					<a href="#"><img src="assets/img/logo-header.png" alt=""></a>
					<ul class="main-menu">
						<li><a href="index.html">Home</a></li>
						<li><a href="about-us.html">About us</a></li>
						<li><a href="industry.html">Industry</a></li>
						<li class="active"><a href="#">Services</a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
					<div class="main-burger">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="section-top">
		<div class="container">
			<div class="section-top-head">
				<div class="section-top-circle"> </div>
				<h1>Services</h1>
			</div>
		</div>
	</section>
	<section class="services">
		<div class="container">
			<div class="top-title">Our</div>
			<h3>Services</h3>
			<div class="row">
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service1.png" alt="">
					<h5>business consultation</h5>
					<p>Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, </p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service2.png" alt="">
					<h5>boost local business</h5>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.</p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service3.png" alt="">
					<h5>accounting</h5>
					<p>professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service4.png" alt="">
					<h5>data analyzing</h5>
					<p>Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, </p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service5.png" alt="">
					<h5>Data Security</h5>
					<p>Internet tend to repeat predefined chunks 
					as necessary, making this the first true generator on the Internet.</p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service6.png" alt="">
					<h5>Data & HR Analytics</h5>
					<p>Containing Lorem Ipsum passages
					more recently with desktop publishing software like Aldus PageMaker including. </p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service7.png" alt="">
					<h5>Training</h5>
					<p>Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour,</p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service8.png" alt="">
					<h5>achive goals</h5>
					<p>Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of </p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service9.png" alt="">
					<h5>Transfer Pricing</h5>
					<p>Many desktop publishing packages 
					and web page editors now use Lorem
					Ipsum as their default model.</p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service10.png" alt="">
					<h5>Techno - Legal Services</h5>
					<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections</p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service11.png" alt="">
					<h5>Construction Management</h5>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.</p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service12.png" alt="">
					<h5>online support</h5>
					<p>Many desktop publishing packages 
					and web page editors now use Lorem
					Ipsum as their default model.</p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service13.png" alt="">
					<h5>Recruitment Services</h5>
					<p>Many variations of passages of Lorem available, but the majority have suffered alteration in some form, by injected humour, </p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service14.png" alt="">
					<h5>Placement Services</h5>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.</p>
				</div>
				<div class="col-lg-4 col-md-12 infobox-wrapper services-infobox">
					<img src="assets/img/Services/service15.png" alt="">
					<h5>Education consulting</h5>
					<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
				</div>
			</div>
			<div class="button-bottom">
				<a href="#" class="button btn-long">request a free consultation</a>
			</div>
		</div>
	</section>
	<section class="ind-projects">
		<div class="container">
			<div class="top-title">Featured</div>
			<h3>Projects</h3>
			<div class="row color-scheme-light">
				<div class="col-lg-6 col-md-12">
					<div class="project-wrapper">
						<div class="project-img">
							<img src="assets/img/industry/ind-proj-image.jpg" alt="">
						</div>
						<a href="#"></a>
						<div class="project-item">Business</div>
						<div class="project-inner">
							<h5>Project heading</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and... </p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="project-wrapper">
						<div class="project-img">
							<img src="assets/img/industry/ind-proj-image2.jpg" alt="">
						</div>
						<a href="#"></a>
						<div class="project-item">Technology</div>
						<div class="project-inner">
							<h5>Project heading</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and... </p>
						</div>
					</div>
				</div>
			</div>
			<div class="button-bottom">
				<a href="#" class="button">Full projects</a>
			</div>
		</div>
	</section>
	<footer class="main-footer color-scheme-light">
		<div class="container">
			<div class="row main-footer-row">
				<div class="col-lg-6 col-md-12 main-footer-col">
					<h4>Newsletter</h4>
					<p>Enter your email address to subscribe our notification of our new post & features by email.</p>
					<form action="#" class="newsletter-form">
						<input type="text" placeholder="Email Address">
						<input type="submit" value="subscribe" class="button">
					</form>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-12">
					<h4>Navigation</h4>
					<ul class="info-list">
						<li><a href="index.html">Home</a></li>
						<li><a href="about-us.html">About us</a></li>
						<li><a href="industry.html">Industry</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="contact-us.html">Contact us</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-12">
					<h4>Industry</h4>
					<ul class="info-list">
						<li><a href="#">Education</a></li>
						<li><a href="#">business</a></li>
						<li><a href="#">realestate</a></li>
						<li><a href="#">technology</a></li>
						<li><a href="#">banking</a></li>
						<li><a href="#">telicommunication</a></li>
						<li><a href="#">much more</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-12">
					<h4>Folow us</h4>
					<ul class="info-list">
						<li><a href="#">Facebook</a></li>
						<li><a href="#">twitter</a></li>
						<li><a href="#">instagram</a></li>
						<li><a href="#">linkedin</a></li>
						<li><a href="#">google +</a></li>
					</ul>
				</div>
			</div>
			<div class="copyright">
				<p>Copyright © 2016 Consultplus theme.</p>
			</div>
		</div>
	</footer>
	</body>