<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap" rel="stylesheet">
	<link href="http://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<title>about-us</title>
</head>
<body>
	<header class="main-header">
		<div class="container">
			<div class="header-row">
				<div class="header-col-left">
					<a href="#"><img src="assets/img/luna-jewelry-logo-black.svg" alt=""></a>
				</div>
				<div class="hedaer-col-center">
					<ul class="main-menu">
						<li><a href="index.html">Home<i class="fal fa-angle-down"></i></a></li>
						<li><a href="shop.html">Shop<i class="fal fa-angle-down"></i></a></li>
						<li><a href="#">Blog<i class="fal fa-angle-down"></i></a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="contact-us.html">Contact Us</a></li>
					</ul>
				</div>
				<div class="main-burger"><i class="fas fa-bars"></i></div>
				<div class="header-col-right">
					<i class="fal fa-search"></i>
					<i class="fal fa-heart"></i>
					<i class="fal fa-shopping-cart"></i>
					<i class="fal fa-user"></i>
				</div>
			</div>
		</div>
	</header>
</body>
</html>