<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap" rel="stylesheet">
	<link href="http://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<title>Luna-contact</title>
</head>
<body>
	<header class="main-header">
		<div class="container">
			<div class="header-row">
				<div class="header-col-left">
					<a href="#"><img src="assets/img/luna-jewelry-logo-black.svg" alt=""></a>
				</div>
				<div class="hedaer-col-center">
					<ul class="main-menu">
						<li><a href="index.html">Home<i class="fal fa-angle-down"></i></a></li>
						<li><a href="shop.html">Shop<i class="fal fa-angle-down"></i></a></li>
						<li><a href="#">Blog<i class="fal fa-angle-down"></i></a></li>
						<li><a href="about-us.html">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="main-burger"><i class="fas fa-bars"></i></div>
				<div class="header-col-right">
					<i class="fal fa-search"></i>
					<i class="fal fa-heart"></i>
					<i class="fal fa-shopping-cart"></i>
					<i class="fal fa-user"></i>
				</div>
			</div>
		</div>
	</header>
	<section class="map">
		<div class="container">
			<div class="company-address">
				<div class="info-box">
					<a href="#"><img src="assets/img/map/luna-jevelry-map-france.svg" alt=""></a>
					<h5 class="font-s-24">11 Place du Forum, 13200 Arles, France</h5>
					<div class="company-contact">
						<i class="fas fa-envelope"></i>
						LunaJewelry@mail.com
					</div>
					<div class="company-contact">
						<i class="fas fa-phone-alt"></i>
						+1 (234) 567 8900
					</div>
				</div>
			</div>
			<div class="map-point-position">
				<div class="map-point">
					<img src="assets/img/map/luna-jevelry-map-pointer.svg" alt="">
				</div>
			</div>
		</div>
	</section>
	<section class="contact">
		<div class="container">
			<div class="row row-spacing-col-side">
				<div class="col-lg-6 col-md-12">
					<div class="contact-info">
						<div class="contact-inf-inner">
							<div class="contact-main-info">
								<div class="contact-inner-title">
									<h5><a href="#">Will I receive the same product that</a></h5>
								</div>
								<div class="contact-inner-icon">
									<i class="fal fa-angle-down"></i>
								</div>
							</div>
							<div class="contact-info-text">
								<p>Consectetur cras scelerisque dis nec mi vestibulum ullamcorper turpis enim natoque tempus a malesuada suspendisse iaculis adipiscing himenaeos tincidunt.</p>
							</div>
						</div>
						<div class="contact-inf-inner">
							<div class="contact-main-info">
								<div class="contact-inner-title">
									<h5><a href="#">Where can I view my sales receipt?</a></h5>
								</div>
								<div class="contact-inner-icon">
									<i class="fal fa-angle-down"></i>
								</div>
							</div>
						</div>
						<div class="contact-inf-inner">
							<div class="contact-main-info">
								<div class="contact-inner-title">
									<h5><a href="#">How can I return an item?</a></h5>
								</div>
								<div class="contact-inner-icon">
									<i class="fal fa-angle-down"></i>
								</div>
							</div>
						</div>
						<div class="contact-inf-inner">
							<div class="contact-main-info">
								<div class="contact-inner-title">
									<h5><a href="#">Will you restock items indicated as “out of stock?”</a></h5>
								</div>
								<div class="contact-inner-icon">
									<i class="fal fa-angle-down"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 ">
					<div class="contact-form-title">
						<h5 class="font-s-24">If you have questions contact us!</h5>
					</div>
					<div class="contact-form-wrapper">
						<form action="#" class="contact-form">
							<div class="row row-spacing-col-side">
								<div class="col-md-6">
									<input type="text" placeholder="First Name">
								</div>
								<div class="col-md-6">
									<input type="text" placeholder="Last Name">
								</div>
								<div class="col-md-6">
									<input type="email" placeholder="Email addresss">
								</div>
								<div class="col-md-6">
									<input type="tel" placeholder="Phone Number">
								</div>
								<div class="col-lg-12">
									<textarea placeholder="Your Text Message..."></textarea>
								</div>
							</div>
							<button>Send message</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="instagram">
		<div class="container">
			<div class="section-title">
				<h4>Our Instagram</h4>
				<p>She who arrival end how fertile enabled. Brother she add</p>
			</div>
			<div class="row row-spacing-col-side color-scheme-light">
				<div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
					<div class="inst-img">
						<a href="#"></a>
						<img src="assets/img/instagram/l-inst-1.jpg" alt="">
						<div class="inst-content">
							<div class="inst-item">
								<i class="fal fa-heart"></i>
								4K
							</div>
							<div class="inst-item">
								<i class="fal fa-comment"></i>
								32
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
					<div class="inst-img">
						<a href="#"></a>
						<img src="assets/img/instagram/l-inst-2.jpg" alt="">
						<div class="inst-content">
							<div class="inst-item">
								<i class="fal fa-heart"></i>
								4K
							</div>
							<div class="inst-item">
								<i class="fal fa-comment"></i>
								32
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
					<div class="inst-img">
						<a href="#"></a>
						<img src="assets/img/instagram/l-inst-3.jpg" alt="">
						<div class="inst-content">
							<div class="inst-item">
								<i class="fal fa-heart"></i>
								4K
							</div>
							<div class="inst-item">
								<i class="fal fa-comment"></i>
								32
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
					<div class="inst-img">
						<a href="#"></a>
						<img src="assets/img/instagram/l-inst-4.jpg" alt="">
						<div class="inst-content">
							<div class="inst-item">
								<i class="fal fa-heart"></i>
								4K
							</div>
							<div class="inst-item">
								<i class="fal fa-comment"></i>
								32
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
					<div class="inst-img">
						<a href="#"></a>
						<img src="assets/img/instagram/l-inst-5.jpg" alt="">
						<div class="inst-content">
							<div class="inst-item">
								<i class="fal fa-heart"></i>
								4K
							</div>
							<div class="inst-item">
								<i class="fal fa-comment"></i>
								32
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
					<div class="inst-img">
						<a href="#"></a>
						<img src="assets/img/instagram/l-inst-6.jpg" alt="">
						<div class="inst-content">
							<div class="inst-item">
								<i class="fal fa-heart"></i>
								4K
							</div>
							<div class="inst-item">
								<i class="fal fa-comment"></i>
								32
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="main-footer color-scheme-light">
		<div class="container">
			<div class="row spacing-col-20">
				<div class="col-lg-3 col-md-12 main-footer-left">
					<div class="white-logo">
						<a href="#"><img src="assets/img/luna-jewelry-logo-white.svg" alt=""></a>
					</div>
					<p>Luna is a great e-commerce jewelry theme. Judge views had mirth table seems.</p>
					<div class="footer-social">
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
						<a href="#"><i class="fab fa-behance"></i></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 vertical-menu-wrapper">
					<h5>Our Stores</h5>
					<ul class="vertical-menu">
						<li><a href="#">New York</a></li>
						<li><a href="#">London SF</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 vertical-menu-wrapper">
					<h5>Information</h5>
					<ul class="vertical-menu">
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Conditions</a></li>
						<li><a href="#">FAQs</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 vertical-menu-wrapper">
					<h5>Propereties</h5>
					<ul class="vertical-menu">
						<li><a href="#">Commercial</a></li>
						<li><a href="#">House</a></li>
						<li><a href="#">Office</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-12 vertical-menu-wrapper find-col">
					<h5>Find Us</h5>
					<div class="find-info">
						<i class="fas fa-location-arrow"></i>
						451 Wall Street, UK, London
					</div>
					<div class="find-info">
						<i class="fas fa-mobile-alt"></i>
						Phone: (064) 332-1233
					</div>
					<div class="find-info">
						<i class="fal fa-envelope"></i>
						Fax: (099) 453-1357
					</div>
				</div>
			</div>
			<div class="main-copyright">
				<p>Luna 2021 Created By Name Studio</p>
				<p>Waited period are played family man formed</p>
			</div>
		</div>
	</footer>
	<div class="scroll-to-top">
		<i class="far fa-angle-up"></i>
	</div>
</body>
</html>