<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Open+Sans&display=swap" rel="stylesheet">
	<link href="http://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<title>Luna</title>
</head>
<body>
	<header class="main-header">
		<div class="container">
			<div class="header-row">
				<div class="header-col-left">
					<a href="#"><img src="assets/img/luna-jewelry-logo-black.svg" alt=""></a>
				</div>
				<div class="hedaer-col-center">
					<ul class="main-menu">
						<li><a href="#">Home<i class="fal fa-angle-down"></i></a></li>
						<li><a href="#">Shop<i class="fal fa-angle-down"></i></a></li>
						<li><a href="#">Blog<i class="fal fa-angle-down"></i></a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="main-burger"><i class="fas fa-bars"></i></div>
				<div class="header-col-right">
					<i class="fal fa-search"></i>
					<i class="fal fa-heart"></i>
					<i class="fal fa-shopping-cart"></i>
					<i class="fal fa-user"></i>
				</div>
			</div>
		</div>
	</header>
	<section class="slider color-scheme-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 slider-col-left">
					<h1>Rings And Earrings Jewelry For You</h1>
					<p>Old education him departure any arranging one prevailed. Their end whole might began her. Behaved the comfort another fifteen eat partiality themselves ask pianoforte increasing discovered.</p>
					<div class="slider-btn">
						<a href="#" class="button white-btn">Contact us</a>
						<a href="#" class="button border-btn">View more</a>
					</div>
					<div class="slider-nav">
						<div class="slider-nav-item">
							<div class="prev">
								<i class="fal fa-long-arrow-left"></i>
								Previous
							</div>
							<div class="slide-next">
								Next
								<i class="fal fa-long-arrow-right"></i>
							</div>
						</div>
						<div class="slider-nav-number">
							<span>1</span>/3
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-6 slider-col-right">
					<div class="slider-col-inner">
						<div class="slider-col-img">
							<img src="assets/img/slider/luna-jewelry-slider-1.jpg" alt="">
							<div class="slider-vector">
								<img src="assets/img/slider/luna-jewelry-slider-vector.svg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-bg"></div>
	</section>
	<section class="collection">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="collection-img">
						<img src="assets/img/collection/luna-jewelry-img-row-1.png" alt="">
					</div>
				</div>
				<div class="col-lg-6 col-md-12 collection-wrapper">
					<div class="collection-info">
						<h2>How to Start a Jewelry Collection</h2>
						<p>She who arrival end how fertile enabled. Brother she add yet see
							minuter natural smiling article painted. Themselves at dispatched interested. Frequently sufficient in be unaffected.</p>
						<a href="#" class="button">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>