<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap" rel="stylesheet">
	<link href="http://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<title>Luna-product</title>
</head>
<body>
	<header class="main-header">
		<div class="container">
			<div class="header-row">
				<div class="header-col-left">
					<a href="#"><img src="assets/img/luna-jewelry-logo-black.svg" alt=""></a>
				</div>
				<div class="hedaer-col-center">
					<ul class="main-menu">
						<li><a href="index.html">Home<i class="fal fa-angle-down"></i></a></li>
						<li><a href="shop.html">Shop<i class="fal fa-angle-down"></i></a></li>
						<li><a href="#">Blog<i class="fal fa-angle-down"></i></a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="main-burger"><i class="fas fa-bars"></i></div>
				<div class="header-col-right">
					<i class="fal fa-search"></i>
					<i class="fal fa-heart"></i>
					<i class="fal fa-shopping-cart"></i>
					<i class="fal fa-user"></i>
				</div>
			</div>
		</div>
	</header>
	<div class="product-editor">
		<div class="container">
			<div class="row">
				<div class="col-lg-1 col-md-4 col-sm-4">
					<div class="small-img-prod">
						<img src="assets/img/product/luna-product-1.jpg" alt="">
					</div>
					<div class="small-img-prod">
						<img src="assets/img/product/luna-product-1-1.jpg" alt="">
						<div class="small-img-arrow">
							<i class="fal fa-expand-arrows"></i>
						</div>
					</div>
					<div class="small-img-prod">
						<img src="assets/img/product/luna-product-1-2.jpg" alt="">
					</div>
				</div>
				<div class="col-lg-5 col-md-8 col-sm-8 editor-img-hover">
					<div class="editor-img">
						<img src="assets/img/product/luna-product-1-1.jpg" alt="">
					</div>
				</div>
				<div class="col-lg-6 col-md-6 editor-col-right">
					<div class="shop-page-list">
						<a href="#" class="page-list-link">Home</a>
						<span>/</span>
						<a href="#" class="page-list-link">Silver</a>
						<span>/</span>
						<a href="#" class="page-list-link">Earrings</a>
						<span>/</span>
						<a href="#" class="page-list-active">Editor Hoops</a>
					</div>
					<h2>Editor Hoops</h2>
					<div class="editor-reviews">
						<span class="editor-price-number">$70</span>
						<div class="editor-stars">
							<i class="fal fa-star"></i>
							<i class="fal fa-star"></i>
							<i class="fal fa-star"></i>
							<i class="fal fa-star"></i>
							<i class="fal fa-star"></i>
						</div>
						<span class="reviews-text">15 Reviews</span>
					</div>
					<form action="#" class="editor-number">
						<div class="editor-number-inner">
							<button class="minus"><i class="fal fa-minus"></i></button>
							<input type="number" value="1">
							<button class="plus"><i class="fal fa-plus"></i></button>
						</div>
						<input type="button" value="Add To Cart">
					</form>
					<div class="editor-wishlist">
						<i class="fal fa-heart"></i>
						Add to wishlist
					</div>
					<div class="editor-info">
						<div class="editor-word-black">SKU:<span>N/A</span></div>
						<div class="editor-word-black">Category:<span>Silver</span></div>
						<div class="editor-word-black">Tags:<span>Bestsellers, New</span></div>
					</div>
					<div class="company-services">
						<div class="services-item">
							<i class="fal fa-truck"></i>
							Free Expedited Shipping over 200+
						</div>
						<div class="services-item">
							<i class="fad fa-bookmark"></i>
							Free extended 60 Day Returns.
						</div>
						<div class="services-item">
							<i class="fal fa-shield-check"></i>
							2 Year Warranty
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>