<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap" rel="stylesheet">
	<link href="http://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<title>Luna-shop</title>
</head>
<body>
	<header class="main-header">
		<div class="container">
			<div class="header-row">
				<div class="header-col-left">
					<a href="#"><img src="assets/img/luna-jewelry-logo-black.svg" alt=""></a>
				</div>
				<div class="hedaer-col-center">
					<ul class="main-menu">
						<li><a href="index.html">Home<i class="fal fa-angle-down"></i></a></li>
						<li><a href="#">Shop<i class="fal fa-angle-down"></i></a></li>
						<li><a href="#">Blog<i class="fal fa-angle-down"></i></a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="main-burger"><i class="fas fa-bars"></i></div>
				<div class="header-col-right">
					<i class="fal fa-search"></i>
					<i class="fal fa-heart"></i>
					<i class="fal fa-shopping-cart"></i>
					<i class="fal fa-user"></i>
				</div>
			</div>
		</div>
	</header>
	<section class="shop-top color-scheme-light">
		<div class="container">
			<div class="shop-top-wrapper">
				<h1>Shop</h1>
				<nav class="shop-bradcrumb">
					<a href="#">Shop
						<i class="fal fa-angle-right"></i>
					</a>
					<span>Woman</span>
				</nav>
				<ul class="shop-categories">
					<li>
						<a href="#">
							<img src="assets/img/shop/Precious.svg" alt="">
							<span class="categories-inner">
								<span class="categories-name">Precious</span>
								<span class="categories-prod">12 Products</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/shop/necklace.svg" alt="">
							<span class="categories-inner">
								<span class="categories-name">Necklaces</span>
								<span class="categories-prod">8 Products</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/shop/earrings.svg" alt="">
							<span class="categories-inner">
								<span class="categories-name">Earrings</span>
								<span class="categories-prod">10 Products</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/shop/bracelets.svg" alt="">
							<span class="categories-inner">
								<span class="categories-name">Bracelets</span>
								<span class="categories-prod">11 Products</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/shop/diamond-ring.svg" alt="">
							<span class="categories-inner">
								<span class="categories-name">Rings</span>
								<span class="categories-prod">6 Products</span>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="shop-product">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="row spacing-col-20">
						<div class="col-lg-12 col-md-6 col-sm-12">
							<div class="vertical-menu-wrapper border-bottom-col">
								<h5>Brands</h5>
								<ul class="vertical-menu">
									<li><a href="#">Tiffany & Co</a></li>
									<li><a href="#">Harry Winston</a></li>
									<li><a href="#">Cartier</a></li>
									<li><a href="#">Chopard</a></li>
									<li><a href="#"><span class="weight-500">More</span></a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12 col-md-6 col-sm-12">
							<div class="shop-pr-price border-bottom-col">
								<h5>Price</h5>
								<div class="price-filter">
									<span>Price: $18 - $300</span>
									<div class="filter-btn">Filter</div>
								</div>
								<h5>Color</h5>
								<div class="prod-swatches">
									<div class="swatch sw-color-brown"></div>
									<div class="swatch sw-color-grey"></div>
									<div class="swatch sw-color-blue"></div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-6 col-sm-12">
							<div class="vertical-menu-wrapper">
								<h5 class="title-uperrcase-norm">material</h5>
								<ul class="vertical-menu">
									<li><a href="#">Silver</a></li>
									<li><a href="#">Gold</a></li>
									<li><a href="#">White Gold</a></li>
									<li><a href="#">Sterling Silver</a></li>
									<li><a href="#"><span class="weight-500">More</span></a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12 col-md-6 col-sm-12">
							<h5 class="title-uperrcase-norm">bestsellers</h5>
							<div class="bestsellers-item">
								<div class="bessellers-item-img">
									<a href="#"><img src="assets/img/bestsellers/bestseller1.jpg" alt=""></a>
								</div>
								<div class="bestsellers-inf">
									<h5><a href="#">Silver Necklaces</a></h5>
									<span>$3,520</span>
								</div>
							</div>
							<div class="bestsellers-item">
								<div class="bessellers-item-img">
									<a href="#"><img src="assets/img/bestsellers/bestseller2.jpg" alt=""></a>
								</div>
								<div class="bestsellers-inf">
									<h5><a href="#">Gold Rings</a></h5>
									<span>$520</span>
								</div>
							</div>
							<div class="bestsellers-item">
								<div class="bessellers-item-img">
									<a href="#"><img src="assets/img/bestsellers/bestseller3.jpg" alt=""></a>
								</div>
								<div class="bestsellers-inf">
									<h5><a href="#">Eternity Band</a></h5>
									<span>$2,320</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-6 col-sm-12">
					<div class="shop-product-right-head">
						<form action="#" class="popularity">
							<select>
								<option>By popularity</option>
								<option>Product 1</option>
								<option>Product 2</option>
							</select>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>