@import './bootstrap-grid.scss';
@import './reset.scss';
@import './base-style.scss';

// ------------------------------------------
// MIXIN
// ------------------------------------------

@mixin absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


// ------------------------------------------
// MODULES
// ------------------------------------------

.container {
	width: 1180px;
	max-width: 100%;
}

.button {
	display: inline-block;
	padding: 17px 40px;
	border-radius: 35px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	}

.color-scheme-light {
	
	h1,h2,h3,h4,h5,h6,i,a {
		color: #FFF;
	}
	
	p, ul {
		color: rgba(255,255,255,.8);
	}
}

// ------------------------------------------------------------------------------------------------
// MAIN-HEADER
// ------------------------------------------------------------------------------------------------

//**** HEADER-TOP ****//

.header-top {
	background: #da8a67;
}

.header-top-row {
	display: flex;
	height: 40px;

	.color-scheme-light & {

		div {
			color: #fff;
		}
	}
}

.header-col  {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.header-item-size {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.4px;
}

.header-top-contact {

	&:not(:last-child) {
		margin-right: 20px;
	}
}

.header-col-right {
	display: flex;
	justify-content: flex-end;
}

.header-col-right-text {
	margin-right: 10px;
}

.header-col-right-item {
	display: flex;
	margin-right: -10px;

	i {
		color: #E7B29B;
		margin-left: 2px;
	}
}

.usa {
	align-self: center;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid #DE9574;
}

//**** HEADER-MIDDLE ****//

.header-middle-row {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-col-left {
	padding-right: 20px;
}

.header-md-item {
	display: flex;
	align-items: center;

	&:not(:last-child) {
		margin-right: 20px;
	}
}

.header-md-form {
	position: relative;

	button {
		position: absolute;
		left: 5px;
		bottom: 0;
		top: 0;

		i {
			color: #9A9A9A;
		}
	}

	select {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 20px;
		border-top: 2px solid #F5F5F5;
		border-bottom: 2px solid #F5F5F5;
	}
}

.header-md-right {
	width: 20px;
	margin-right: 5px;
}

//**** HEADER-BOTTOM ****//

.header-bottom-inner {
	height: 60px;
	display: flex;
}

.header-bottom-left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #DA8A67;
	padding: 20px;
	width: 280px;
}

.main-menu {
	display: flex;
	align-items: center;

	a {
		display: inline-block;
		padding: 14px;
	}

	i {
		margin-left: 5px;
	}
}


@import './media.scss';


