@import './bootstrap-grid.scss';
@import './reset.scss';
@import './base-style.scss';

// ------------------------------------------
// MIXIN
// ------------------------------------------

@mixin absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


// ------------------------------------------
// MODULES
// ------------------------------------------

.container {
	width: 1210px;
	max-width: 100%;
}

.color-scheme-light {
	
	h1,h2,h3,h4,h5,h6,i,a {
		color: #FFF;
	}
	
	p, ul {
		color: rgba(255,255,255,.8);
	}
}

.colortext {
	color: #DA8A67;
}

// ------------------------------------------------------------------------------------------------
// MAIN-HEADER
// ------------------------------------------------------------------------------------------------

.main-header {
	margin-bottom: 20px;
}

//**** HEADER-TOP ****//

.header-top {
	background: #da8a67;
}

.header-top-row {
	display: flex;
	height: 40px;

	.color-scheme-light & {

		div {
			color: #fff;
		}
	}
}

.header-col  {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.header-item-size {
	font-size: 13px;
	letter-spacing: 0.4px;
}

.header-top-contact {

	&:not(:last-child) {
		margin-right: 20px;
	}
}

.header-col-right {
	display: flex;
	justify-content: flex-end;
	margin-left: 20px;
	white-space: nowrap;
}

.header-col-right-text {
	margin-right: 10px;
}

.header-col-right-item {
	display: flex;
	margin-right: -10px;

	i {
		font-size: 23px;
		color: #E7B29B;
		margin-left: 5px;
	}
}

.usa {
	display: flex;
	align-items: center;
	line-height: 1;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid #DE9574;
	cursor: pointer;

	img {
		margin-right: 8px;
	}
}

//**** HEADER-MIDDLE ****//

.header-middle-row {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-col-left {
	margin-right: 20px;
	flex-shrink: 0;
}

.header-col-center {
	flex-basis: 580px;
	flex-shrink: 1;
}

.header-md-item {
	display: flex;
	align-items: center;
	cursor: pointer;

	&:not(:last-child) {
		margin-right: 20px;
	}
}

.color-light {
	color: #9F9F9F;
}

.header-search-form {
	position: relative;
	display: flex;

	input[type='text'] {
		padding-left: 40px;
		padding-right: 170px;
	}

	button {
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		display: flex;
		align-items: center;
		background-color: transparent;
		padding: 0 15px;
		

		i {
			color: #9A9A9A;
		}
	}
}

.form-srlect {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	line-height: 1;
	font-weight: 500;
	padding-right: 20px;
	cursor: pointer;

	i {
		margin-left: 7px;
	}

	&:before {
		content: '';
		width: 1px;
		height: 14px;
		background-color: rgba(16, 16, 16, 0.05);
		margin-right: 20px;
	}
}

.header-md-right {
	font-size: 20px;
	margin-right: 5px;
}

.main-burger {
	display: none;
	color: $title-color;
	font-size: 30px;
	line-height: 1;
	padding: 15px;
	margin-right: -15px;
	cursor: pointer;
	transition: color .4s ease;

	&:hover {
		color: #DA8A67;
	}
}

//**** HEADER-BOTTOM ****//

.header-bottom {
	border-bottom: 1px solid rgba(16, 16, 16, 0.05); 
}

.header-bottom-inner {
	height: 60px;
	display: flex;

	.main-menu {
		margin-left: 8px;
	}
}

.header-bottom-left {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #DA8A67;
	padding: 20px;
	width: 280px;
	cursor: pointer;

	i {
		font-size: 20px;
	}
}

.left-menu {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	margin-left: -50px;

	li {
		margin-bottom: 0;
	}
}

.main-menu {
	display: flex;
	align-items: center;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;

	li {
		position: relative;
		margin-bottom: 0;

		&.active,
		&:hover {

			a {

				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	

	a {
		display: inline-flex;
		align-items: center;
		padding: 19px 14px;
		color: inherit;

		&:after {
			content: '';
			position: absolute;
			left: 13px;
			right: 14px;
			bottom: 0;
			height: 3px;
			background-color: #da8a67;
			opacity: 0;
			visibility: hidden;
			transition: all .4s ease;
		}
	}

	i {
		color:  rgba(16, 16, 16, 0.4);
		margin-left: 5px;
	}
}

.header-discount {
	flex-grow: 1;
	align-items: center;
}

.vertical-menu {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	border: 1px solid rgba(16, 16, 16, 0.05);
	z-index: 1;
	background: #fff;

	li {
		position: relative;

		&:not(:last-child) {

			&:after {
				content: '';
				position: absolute;
				left: 20px;
				right: 20px;
				bottom: 0;
				height: 1px;
				background-color:  rgba(16, 16, 16, 0.05);
			}
		}

		&:hover {

			a {
				color: #DA8A67;
			}
		}
	}

	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: rgba(16, 16, 16, 0.8);
	}

	i {
		margin-right: 20px;
		color:  rgba(16, 16, 16, 0.4);
	}
}

// ------------------------------------------------------------------------------------------------
// CASUAL
// ------------------------------------------------------------------------------------------------

.casual {
	margin-bottom: 85px;
}

.slider {
	position: relative;
}

.slider-inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 40px;
	max-width: 445px;

	.banner-btn {

		&:hover {
			color: #fff;
			background-color: #DA8A67;
		}
	}
}

.slider-btn {
	display: flex;
	align-items: center;
	margin-bottom: 90px;

	.banner-btn {
		margin-right: 10px;
	}

	.product-swatch {
		margin-left: 10px;
	}
}

.slider-num {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 40px;
	display: flex;
	align-items: center;
	line-height: 1;
	font-family: 'Spartan', sans-serif;

	span {
		cursor: pointer;
		transition: color .4s ease;

		&:hover {
			color: rgba(255, 255, 255, 0.7);
		}
	}

	i {
		cursor: pointer;
		font-size: 26px;

		&:first-child {
			margin-right: 5px;
			color: rgba(255, 255, 255, 0.3);
		}

		&:last-child {
			margin-left: 5px;
			color: rgba(255, 255, 255, 0.7);
		}
	}

	span {
		display: inline-block;
		color: rgba(255, 255, 255, 0.2);
		padding: 5px;

		&.active {
			font-size: 20px;
			color: rgba(255, 255, 255, 0.7)
		}
	}
}

// ------------------------------------------------------------------------------------------------
// PRODUCTS
// ------------------------------------------------------------------------------------------------

.products {
	margin-bottom: 30px;
}

.row-spacing-50 {

	> [class*='col-'] {
		margin-bottom: 50px;
	}
}

.products-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;

	h2 {
		margin-bottom: 0;
	}
}

.products-header-title {
	margin-right: 20px;

	.colortext {
		font-size: 13px;
		font-weight: 500;
		margin-bottom: 10px;
	}
}

.tab-menu {
	margin-right: -15px;

	li {
		
		&.active {

			a {
				color: $title-color;
			}
		}
	}

	a {
		padding: 0 20px;
		font-weight: 500;
		color: rgba(16, 16, 16, 0.7);

		&:after {
			left: 20px;
			right: 20px;
			height: 2px;
		}
	}
}

.banner {
	position: relative;
	margin-bottom: 20px;

	.banner-link {

		@include absolute;
		z-index: 1;
	}
}

.banner-hover {

	&:hover {

		.banner-img-hover {
			opacity: 1;
			visibility: visible;
		}
	}
}

.banner-square {
	width: 40px;
	height: 37px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	color: $title-color;

	&:hover {
		color: #DA8A67;
	}
}

.banner-img-hover {
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease;

	@include absolute;
}

.banner-img-hover-inner {
	position: absolute;
	bottom: 15px;
	left: 15px;
	right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;

	a {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	.banner-btn {
		white-space: nowrap;
		padding: 9px 18px;

		&:hover {
			
			i {
				opacity: 1;
				visibility: visible;
			}
		}

		i {
			opacity: 0;
			visibility: hidden;
			margin-left: 5px;
			transition: all .4s ease;
		}
	}
}

//**** PRODUCT-CONTENT ****//

.product-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;

	a {
		color: #101010;
	}

	h6 {
		margin-bottom: 0;
	}
}

.products-color {
	display: flex;
	align-items: center;

	.product-swatch {

		&:not(:last-child) {
			margin-right: 5px;
		}
	}
}

.product-swatch {
	display: block;
	width: 15px;
	height: 15px;
	cursor: pointer;

	&.swatch-green {
		background-color:  #2a767a;
	}

	&.swatch-pink {
		background-color: #ffc7c7;
	}

	&.swatch-dark-pink {
		background-color:  #ecc3db;
	}

	&.swatch-dark-green {
		background-color:  #164f58;
	}

	&.swatch-grey {
		background-color:  #eeeeee;
	}

	&.swatch-dark-blue {
		background-color:  #1a1a1c;
	}

	&.swatch-blue {
		background-color:  #31397d;
	}

	&.swatch-light-blue {
		background-color:  #cedade;
	}

	&.swatch-white {
		background-color:  #f2f2f2;
	}

	&.swatch-large {
		width: 30px;
		height: 30px;
	}

	&.color-green-light {
		background-color: #A6B6A9;
	}

	&.color-red-light {
		background-color: #D75A62;
	}
}
// ------------------------------------------------------------------------------------------------
// CATEGORY
// ------------------------------------------------------------------------------------------------

.category {
	background: #FBF3F0;
	padding-top: 75px;
	padding-bottom: 45px;
	margin-bottom: 80px;
}

.category-head {
	margin-bottom: 35px;

	.colortext {
		margin-bottom: 15px;
	}

	p {
		max-width: 380px;
	}
}

.row-spacing-30 {

	> [class*='col-'] {
		margin-bottom: 30px;
	}

	.col-spacing-0 {
		margin-bottom: 0;
	}
}

.banner-category {
	position: relative;
}

.category-angle {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 18px 30px;
	display: flex;

	i {
		font-size: 32px;

		&:first-child {
			margin-right: 10px;
			color: #AAAAAC;
		}
	}
}

.category-content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 30px;
	max-width: 275px;
	background: #FBF3F0;
}

.category-inner {

	.colortext {
		margin-bottom: 27px;
	}

	.button {
		background-color: #DA8A67;

		&:hover {
			background-color: #D75A62;
		}
	}
}

.category-img {
	
	img {
		width: 100%
	}
}

// ------------------------------------------------------------------------------------------------
// PROMOTIONS
// ------------------------------------------------------------------------------------------------

.promotions-head {
	text-align: center;
	margin-bottom: 40px;

	p {
		max-width: 380px;
		margin: 0 auto;
	}
}

.promotion-row {
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 65px;
}

.promotion-col {
	max-width: 20%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 30px;

	.banner-img-hover-inner {
		align-items: inherit;
	
		.banner-btn {
			display: flex;
			align-items: center;
			font-size: 0;
			padding: 9px 15px;

			&:hover {

				i {
					color: #DA8A67;
				}
			}
	
			i {
				font-size: 14px;
				opacity: 1;
				visibility: visible;
				margin-left: 0;
			}
		}
	}
}


@import './media.scss';


