// ------------------------------------------
// MAX-WIDTH 1135PX
// ------------------------------------------

@media (max-width: 1135px) {

	.banner-img-hover-inner {
		align-items: inherit;
	
		.banner-btn {
			display: flex;
			align-items: center;
			font-size: 0;
			padding: 9px 15px;

			&:hover {

				i {
					color: #DA8A67;
				}
			}
	
			i {
				font-size: 14px;
				opacity: 1;
				visibility: visible;
				margin-left: 0;
			}
		}
	}
}

// ------------------------------------------
// MAX-WIDTH 1024PX
// ------------------------------------------

@media (max-width: 1024px) {

}

// ------------------------------------------
// MAX-WIDTH 990 PX
// ------------------------------------------

@media (max-width: 990px) {

	.main-header {
		margin-bottom: 0;
	}

	.header-col-center,
	.header-col-right,
	.header-bottom,
	.tab-menu {
		display: none;
	}

	.main-burger {
		display: block;
	}

	.casual {
		margin-bottom: 40px;
	}

	.products-header {
		margin-bottom: 15px;
	}

	.banner {
		margin-bottom: 10px;
	}

	.row-spacing-50 {

		> [class*='col-'] {
			margin-bottom: 30px;
		}
	}

	.product-content {
		margin-bottom: 5px;
	}

	.category {
		padding-top: 45px;
		padding-bottom: 15px;
	}

	.promotion-row {
		flex-wrap: wrap;
	}

	.promotion-col {
		max-width: 100%;
	}
}

// ------------------------------------------
// MAX-WIDTH 768 PX
// ------------------------------------------

@media (max-width: 768px) {

	h1 {
		font-size: 32px;
	}

	.slider-img {
		
		img {
			width: 100%;
		}
	}

	.slider-inner,
	.slider-num {
		padding: 20px;
	}

	.slider-btn {
		margin-bottom: 30px;
	}

	.category-head {

		p {
			max-width: none;
		}
	}
}

// ------------------------------------------
// MAX-WIDTH 595 PX
// ------------------------------------------

@media (max-width: 595px) {

	.header-top {
		display: none;
	}


	.button {
		padding: 5px 20px;
		font-size: 10px;
	}

	h1 {
		font-size: 16px;
		margin-bottom: 10px;
	}

	h2 {
		font-size: 22px;
	}

	.slider-inner {
		max-width: none;

		p {
			display: none;
		}
	}

	.banner-square {
		height: 32px;
	}

	.category-head {
		margin-bottom: 15px;

		.colortext {
			margin-bottom: 10px;
		}
	}

	.category-content {
		padding: 15px;
		max-width: 230px;

		h3 {
			font-size: 18px;
		}
	}

	.category-inner {

		.colortext {
			margin-bottom: 15px;
		}
	}
}