<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&family=Rubik:wght@500&family=Spartan:wght@500;600&display=swap" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
	<title>Merak-Vadym</title>
</head>
<body>
	<header class="main-header">
		<div class="header-top color-scheme-light header-item-size">
			<div class="container">
					<div class="header-top-row">
						<div class="header-col">
							<div class="header-top-contact">Call Now: (+035) 527-1710-70</div>
							<div class="header-top-contact">Email: Contact@merak.com</div>
						</div>
						<div class="header-col header-col-right">
							<div class="header-col-right-text">Ample end might folly quiet one set spoke.</div>
							<div class="header-col-right-item">
								<div class="usa">Usd
									<i class="fas fa-angle-down"></i>
								</div>
								<div class="usa">
									<img src="assets/img/united-states.png" alt="">
									<i class="fas fa-angle-down"></i>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-middle">
			<div class="container">
				<div class="header-middle-row header-item-size">
					<div class="header-col-left">
						<div class="header-logo">
							<a href="#"><img src="assets/img/merak-logo.svg" alt=""></a>
						</div>
					</div>
					<div class="header-col-center">
						<form action="#" class="header-md-form">
							<button>
								<i class="fas fa-search"></i>
							</button>
							<input type="text" placeholder="Search for products">
							<div class="form-srlect">
								Select category
								<i class="fas fa-angle-down"></i>
							</div>
						</form>
					</div>
					<div class="header-col-right">
						<div class="header-md-item">
							<div class="header-md-right">
								<i class="far fa-user"></i>
							</div>
							Login / Register
						</div>
						<div class="header-md-item">
							<div class="header-md-right">
								<i class="far fa-heart"></i>
							</div>
							Whishlist
						</div>
						<div class="header-md-item">
							<div class="header-md-right">
								<i class="fas fa-shopping-bag"></i>
							</div>
							2 / $280.00
						</div>
					</div>
					<div class="main-burger">
						<i class="fas fa-bars"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="header-bottom-inner">
					<div class="header-bottom-left color-scheme-light">
						<i class="fas fa-bars"></i>
						<ul class="left-menu">
							<li><a href="#">Browse Categories</a></li>
						</ul>
						<i class="fas fa-angle-down"></i>
					</div>
					<ul class="main-menu">
						<li><a href="#">Home<i class="fas fa-angle-down"></i></a></li>
						<li><a href="#">Shop<i class="fas fa-angle-down"></i></a></li>
						<li><a href="#">Blog<i class="fas fa-angle-down"></i></a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
					<div class="header-col-right header-discount">
						<div class="bottom-col-text">
							Winter <span class="colortext">discounts</span> up to 40%
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>
</html>