<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&family=Rubik:wght@500&family=Spartan:wght@500;600&display=swap" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
	<title>Merak-Vadym</title>
</head>
<body>
	<header class="main-header">
		<div class="header-top color-scheme-light header-item-size">
			<div class="container">
					<div class="header-top-row">
						<div class="header-col">
							<div class="header-top-contact">Call Now: (+035) 527-1710-70</div>
							<div class="header-top-contact">Email: Contact@merak.com</div>
						</div>
						<div class="header-col header-col-right">
							<div class="header-col-right-text">Ample end might folly quiet one set spoke.</div>
							<div class="header-col-right-item">
								<div class="usa">Usd
									<i class="fas fa-angle-down"></i>
								</div>
								<div class="usa">
									<img src="assets/img/united-states.png" alt="">
									<i class="fas fa-angle-down"></i>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-middle">
			<div class="container">
				<div class="header-middle-row header-item-size">
					<div class="header-col-left">
						<div class="header-logo">
							<a href="#"><img src="assets/img/merak-logo.svg" alt=""></a>
						</div>
					</div>
					<div class="header-col-center">
						<form action="#" class="header-md-form">
							<button>
								<i class="fas fa-search"></i>
							</button>
							<input type="text" placeholder="Search for products">
							<div class="form-srlect">
								Select category
								<i class="fas fa-angle-down"></i>
							</div>
						</form>
					</div>
					<div class="header-col-right">
						<div class="header-md-item">
							<div class="header-md-right">
								<i class="far fa-user"></i>
							</div>
							Login / Register
						</div>
						<div class="header-md-item">
							<div class="header-md-right">
								<i class="far fa-heart"></i>
							</div>
							Whishlist
						</div>
						<div class="header-md-item">
							<div class="header-md-right">
								<i class="fas fa-shopping-bag"></i>
							</div>
							2 <span class="color-light">/ $280.00</span>
						</div>
					</div>
					<div class="main-burger">
						<i class="fas fa-bars"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="header-bottom-inner">
					<div class="header-bottom-left color-scheme-light">
						<i class="fas fa-bars"></i>
						<ul class="left-menu">
							<li>
								<a href="#">Browse Categories</a>
								<ul class="vertical-menu">
									<li><a href="#">
										<span>
											<img src="assets/img/category-svg/merak-category-icon-1.svg" alt="">
											Sweatshirts
										</span>
										<i class="fas fa-angle-right"></i>
										</a>
									</li>
									<li><a href="#">
										<span>
											<img src="assets/img/category-svg/merak-category-icon-2.svg" alt="">
											Dresses
										</span>
										<i class="fas fa-angle-right"></i>
										</a>
									</li>
									<li><a href="#">
										<span>
											<img src="assets/img/category-svg/merak-category-icon-3.svg" alt="">
											Jackets
										</span>
										<i class="fas fa-angle-right"></i>
										</a>
									</li>
									<li><a href="#">
										<span>
											<img src="assets/img/category-svg/merak-category-icon-4.svg" alt="">
											Pants
										</span>
										<i class="fas fa-angle-right"></i>
										</a>
									</li>
									<li><a href="#">
										<span>
											<img src="assets/img/category-svg/merak-category-icon-5.svg" alt="">
											Cardigan
										</span>
										</a>
									</li>
									<li><a href="#">
										<span>
											<img src="assets/img/category-svg/merak-category-icon-6.svg" alt="">
											Boots
										</span>
										</a>
									</li>
									<li><a href="#">
										<span>
											<img src="assets/img/category-svg/merak-category-icon-7.svg" alt="">
											Loafers
										</span>
										</a>
									</li>
									<li><a href="#">
										<span>
											<img src="assets/img/category-svg/merak-category-icon-8.svg" alt="">
											Handbags
										</span>
										</a>
									</li>
									<li><a href="#">
										<span>
											<img src="assets/img/category-svg/merak-category-icon-9.svg" alt="">
											Hats
										</span>
										</a>
									</li>
									<li><a href="#">
										<span>
											<img src="assets/img/category-svg/merak-category-icon-10.svg" alt="">
											Accessories
										</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
						<i class="fas fa-angle-down"></i>
					</div>
					<ul class="main-menu">
						<li><a href="#">Home<i class="fas fa-angle-down"></i></a></li>
						<li><a href="#">Shop<i class="fas fa-angle-down"></i></a></li>
						<li><a href="#">Blog<i class="fas fa-angle-down"></i></a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
					<div class="header-col-right header-discount">
						<div class="bottom-col-text">
							Winter <span class="colortext">discounts</span> up to 40%
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="casual">
		<div class="container">
			<div class="row color-scheme-light">
				<div class="col-lg-9 col-md-12 offset-lg-3">
					<div class="banner-large">
						<div class="banner-large-img">
							<img src="assets/img/merak-home-1-slider-1.jpg" alt="">
						</div>
						<div class="banner-large-inner">
							<h1>Beautiful Casual Summer Dress</h1>
							<p>Cultivated who resolution connection motionless
							did occasional. Journey promise if it colonel.</p>
							<div class="banner-large-btn">
								<a href="#" class="button">To shop</a>
								<a href="#" class="btn-square-green"></a>
								<a href="#" class="btn-square-red"></a>
							</div>
							<div class="banner-large-num">
								<i class="fas fa-angle-left"></i>
								<span class="active">1</span>
								<span>2</span>
								<span>3</span>
								<i class="fas fa-angle-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>