<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&family=Rubik:wght@500&family=Spartan:wght@500;600&display=swap" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
	<title>Merak-Vadym</title>
</head>
<body>
	<header class="main-header">
		<div class="header-top color-scheme-light">
			<div class="container">
				<div class="header-top-inner">
					<div class="header-col header-col-left">
						<div class="header-top-contact">Call Now: (+035) 527-1710-70</div>
						<div class="header-top-contact">Email: Contact@merak.com</div>
					</div>
					<div class="header-col header-col-right">
						<div class="header-col-right-text">Ample end might folly quiet one set spoke.</div>
						<div class="header-col-right-item">
							<div class="usa">Usd
								<i class="fas fa-angle-down"></i>
							</div>
							<div class="usa">
								<img src="assets/img/united-states.png" alt="">
								<i class="fas fa-angle-down"></i>
							</div>
						</div>
				</div>
			</div>
		</div>
	</header>
</body>
</html>