<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/43dc3ce134.js" crossorigin="anonymous"></script>
    <title>Luna</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="logo">
                    <img src="assets/img/Logo.png" alt="logo">
                </div>
                <nav class="nav">
                    <a class="nav-link" href="#">Home
                        <i class="fas fa-angle-down"></i>
                    </a>
                    <a class="nav-link" href="#">Blog
                        <i class="fas fa-angle-down"></i>
                    </a>
                    <a class="nav-link" href="#">Pages
                        <i class="fas fa-angle-down"></i>
                    </a>
                    <a class="nav-link" href="#">Portfolio
                        <i class="fas fa-angle-down"></i>
                    </a>
                    <a class="nav-link" href="#">Elements
                        <i class="fas fa-angle-down"></i>
                    </a>
                </nav>
                <a class="btn" href="#"><i class="fas fa-search"></i>Search</a>
            </div>
        </div>
    </header>
    <div class="intro">
        <div class="container"></div>
        <div class="intro-inner">
            <h1 class="intro-title">We make <span class="colortext">web</span> better.</h1>
            <h4 class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </h4>
            <div class="intro-btn">
            <a class="btn btn-view" href="#">View more</a>
            <a class="btn btn-contact" href="#">Contact us</a>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <div class="about">
                <div class="about-title">About us</div>
                <div class="about-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem<p>
               </div>
            </div>
            <div class="about-img">
                <img src="assets/img/about/about1.jpg" alt="">
                <img src="assets/img/about/about2.jpg" alt="">
                <img src="assets/img/about/about3.jpg" alt="">
                <img src="assets/img/about/about4.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="work">
       <div class="container">
            <h3 class="work-title">What we do</h3>
            <div class="services">
                <div class="services-item">
                   <div class="services-img">
                       <img src="assets/img/services/services-img1.png" alt="">
                   </div>
                   <div class="services-content">
                        <h5 class="services-subtitle">Beautiful Design</h5>
                        <p class="services-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                   </div>
                </div>
                <div class="services-item">
                   <div class="services-img">
                       <img src="assets/img/services/services-img2.png" alt="">
                   </div>
                   <div class="services-content">
                        <h5 class="services-subtitle">Best Development</h5>
                        <p class="services-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                   </div>
                </div>
                <div class="services-item">
                   <div class="services-img">
                       <img src="assets/img/services/services-img3.png" alt="">
                   </div>
                   <div class="services-content">
                        <h5 class="services-subtitle">Web Promote</h5>
                        <p class="services-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                   </div>
                </div>
            </div>
            <div class="work-footer">Showe more</div>
       </div>
    </section>
    <section class="section section-payme">
        <div class="container">
           <div class="payme">
                <div class="payme-content">
                    <div class="payme-title">
                        <h4><span class="colortext">Payme</span> Mobile App</h4>
                    </div>
                    <div class="payme-text">
                        <p>Payme is a best & simplest way to create your own mobile payment app
                           and fit in with as much information as you want. Perfect base to build
                           an amazing app with easy navigation and intuitive UX.</p>
                    </div>
                        <a class="btn btn-payme" href="#">See Case Study</a>
                </div>
                <div class="payme-img">
                    <img src="assets/img/payme/Payments.png" alt="">
                    <img src="assets/img/payme/Log%20In.png" alt="">
                </div>
            </div>

            <hr class="hr-payme">

            <div class="payme-footer">
                    <div class="payme-footer-item">
                        <div class="footer-item-title">Mobile Apps UX / UI</div>
                        <div class="footer-item-subtitle">Payme Mobile App</div>
                    </div>
                     <div class="payme-footer-item">
                        <div class="footer-item-title">Websites UX / UI</div>
                        <div class="footer-item-subtitle">Interactive Agency</div>
                    </div>
                     <div class="payme-footer-item">
                        <div class="footer-item-title">Websites UX / UI</div>
                        <div class="footer-item-subtitle">Nava.com Website</div>
                    </div>
                     <div class="payme-footer-item">
                        <div class="footer-item-title">Web Apps UX / UI</div>
                        <div class="footer-item-subtitle">Virtus Dashboard</div>
                    </div>
            </div>
        </div>
    </section>
    <section class="section-reviews">
        <div class="container">
            <div class="reviews-icon">
                <img src="assets/img/reviews/twitter-logo-silhouette.png" alt="">
            </div>
            <div class="reviews-client">
               <div class="reviews-client-item">
                    <div class="reviews-client-text">
                        <p><span class="colortext">#PaymeApp</span> win Apple Design Award! Big thanks to <span class="colortext">@DigitalStudio!</span>
                        They are aggressive in trying out new technologies and new design
                        techniques. The best guys I've worked with. </p>
                    </div>
                    <div class="reviews-client-account">
                        <img class="reviews-client-account-photo" src="assets/img/reviews/Warstwa%202.png" alt="">
                        <div class="reviews-client-account-name">Frank Undrewood
                           <div><span class="colortext">@PresidentFrank</span></div>
                        </div>
                    </div>
                </div>
                <div class="reviews-client-item">
                    <div class="reviews-client-text">
                        <p><span class="colortext">#PaymeApp</span> win Apple Design Award! Big thanks to <span class="colortext">@DigitalStudio!</span>
                        They are aggressive in trying out new technologies and new design
                        techniques. The best guys I've worked with. </p>
                    </div>
                    <div class="reviews-client-account">
                        <img class="reviews-client-account-photo" src="assets/img/reviews/Warstwa%202.png" alt="">
                        <div class="reviews-client-account-name">Frank Undrewood
                           <div><span class="colortext">@PresidentFrank</span></div>
                        </div>
                    </div>
                </div>
                <div class="reviews-client-item">
                    <div class="reviews-client-text">
                        <p><span class="colortext">#PaymeApp</span> win Apple Design Award! Big thanks to <span class="colortext">@DigitalStudio!</span>
                        They are aggressive in trying out new technologies and new design
                        techniques. The best guys I've worked with. </p>
                    </div>
                    <div class="reviews-client-account">
                        <img class="reviews-client-account-photo" src="assets/img/reviews/Warstwa%202.png" alt="">
                        <div class="reviews-client-account-name">Frank Undrewood
                           <div><span class="colortext">@PresidentFrank</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">

            <div class="footer-section">
                <div class="footer-inner">
                    <div class="footer-logo">
                        <img src="assets/img/Logo.png" alt="logo">
                    </div>
                    <div class="footer-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="footer-button">
                    <a class="btn btn-footer" href="#">Contact us</a>
                </div>
            </div>

            <hr class="hr-footer">

            <div class="copyright">
                <div class="coptright-text">Copyright © 2015. <span class="colortext">LUNA STUDIO.</span> All rights reserved.</div>
                <div class="coptright-signature">DESIGNED with <img src="assets/img/like.png" alt=""> BY <span class="colortext">SYMU.CO</span></div>
            </div>

        </div>
    </footer>





</body>
</html>
