<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap" rel="stylesheet">
	<link href="http://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<title>Luna</title>
</head>
<body>
	<header class="main-header">
		<div class="container">
			<div class="header-row">
				<div class="header-col-left">
					<a href="#"><img src="assets/img/luna-jewelry-logo-black.svg" alt=""></a>
				</div>
				<div class="hedaer-col-center">
					<ul class="main-menu">
						<li><a href="#">Home<i class="fal fa-angle-down"></i></a></li>
						<li><a href="shop.html">Shop<i class="fal fa-angle-down"></i></a></li>
						<li><a href="#">Blog<i class="fal fa-angle-down"></i></a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="main-burger"><i class="fas fa-bars"></i></div>
				<div class="header-col-right">
					<i class="fal fa-search"></i>
					<i class="fal fa-heart"></i>
					<i class="fal fa-shopping-cart"></i>
					<i class="fal fa-user"></i>
				</div>
			</div>
		</div>
	</header>
	<section class="slider color-scheme-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 slider-col-left">
					<h1>Rings And Earrings Jewelry For You</h1>
					<p>Old education him departure any arranging one prevailed. Their end whole might began her. Behaved the comfort another fifteen eat partiality themselves ask pianoforte increasing discovered.</p>
					<div class="footer-block-button">
						<a href="#" class="button white-button">Contact us</a>
						<a href="#" class="button border-button">View more</a>
					</div>
					<div class="slider-nav">
						<div class="slider-nav-item">
							<div class="prev">
								<i class="fal fa-long-arrow-left"></i>
								Previous
							</div>
							<div class="slide-next">
								Next
								<i class="fal fa-long-arrow-right"></i>
							</div>
						</div>
						<div class="slider-nav-number">
							<span>1</span>/3
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-6 slider-col-right">
					<div class="slider-col-inner">
						<div class="slider-col-img">
							<img src="assets/img/slider/luna-jewelry-slider-1.jpg" alt="">
							<div class="slider-vector">
								<img src="assets/img/slider/luna-jewelry-slider-vector.svg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-bg"></div>
	</section>
	<section class="collection">
		<div class="container">
			<div class="row row-spacing-110">
				<div class="col-lg-6 col-md-12">
					<div class="collection-img">
						<img src="assets/img/collection/luna-jewelry-img-row-1.png" alt="">
						<div class="collection-big-word">
							<img src="assets/img/collection/luna-jewelry.svg" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 collection-wrapper">
					<div class="collection-info">
						<h2>How to Start a Jewelry Collection</h2>
						<p>She who arrival end how fertile enabled. Brother she add yet see
							minuter natural smiling article painted. Themselves at dispatched interested. Frequently sufficient in be unaffected.</p>
						<a href="#" class="button">Read More</a>
					</div>
				</div>
			</div>
			<div class="row row-spacing-col-side">
				<div class="col-lg-3 col-md-6 product-info">
					<h3>most popular jewelry of week </h3>
					<p>She who arrival end how fertile enabled. Brother she add yet see minuter natural smiling article painted themselves</p>
					<a href="#" class="button linked-button">View More
						<i class="fal fa-long-arrow-right"></i>
					</a>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="product">
						<div class="product-img-first">
							<img src="assets/img/product/luna-product-1.jpg" alt="">
							<a href="product.html" class="product-link"></a>
							<div class="product-img-second">
								<img src="assets/img/product/luna-product-1-1.jpg" alt="">
							</div>
							<div class="product-item">Hot</div>
						</div>
						<div class="product-content">
							<div class="product-content-title">
								<h5>
									<a href="#">Editor Hoops</a>
								</h5>
								<i class="fal fa-heart"></i>
							</div>
							<p><a href="#">Tiffany & Co.</a></p>
							<span>$70</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="product">
						<div class="product-img-first">
							<img src="assets/img/product/luna-product-9-1.jpg" alt="">
							<a href="product.html" class="product-link"></a>
							<div class="product-img-second">
								<img src="assets/img/product/luna-product-9.jpg" alt="">
							</div>
							<div class="product-item">Hot</div>
						</div>
						<div class="product-content">
							<div class="product-content-title">
								<h5>
									<a href="#">Eternity Band</a>
								</h5>
								<i class="fal fa-heart"></i>
							</div>
							<p><a href="#">Cartier</a></p>
							<span>$2,230</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="product">
						<div class="product-img-first">
							<img src="assets/img/product/luna-product-3.jpg" alt="">
							<a href="#" class="product-link"></a>
							<div class="product-img-second">
								<img src="assets/img/product/luna-product-3-1.jpg" alt="">
							</div>
							<div class="product-item">Hot</div>
						</div>
						<div class="product-content">
							<div class="product-content-title">
								<h5>
									<a href="#">Heirloom Ring</a>
								</h5>
								<i class="fal fa-heart"></i>
							</div>
							<p><a href="#">Tiffany & Co.</a></p>
							<span>$70</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="stone">
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-lg-6 col-md-12 prod-spacing-col-20">
					<div class="stone-img-left">
						<img src="assets/img/stone/luna-jewelry-img-row-3.png" alt="">
					</div>
				</div>
				<div class="col-xl-5 col-lg-6 col-md-12">
					<div class="product-info-stone">
						<h2>Fine Jewelry for yourself</h2>
						<p>She who arrival end how fertile enabled. Brother she add yet see minuter natural smiling article painted themselves</p>
						<a href="#" class="button linked-button">View More
							<i class="fal fa-long-arrow-right"></i>
						</a>
					</div>
					<div class="row row-spacing-col-side">
						<div class="col-lg-6 col-md-12">
							<div class="product">
								<div class="product-img-first">
									<img src="assets/img/stone/luna-product-11.jpg" alt="">
									<a href="product.html" class="product-link"></a>
									<div class="product-img-second">
										<img src="assets/img/stone/luna-product-11-1.jpg" alt="">
									</div>
								</div>
								<div class="product-content">
									<div class="product-content-title">
										<h5>
											<a href="#">Turquoise Stone</a>
										</h5>
										<i class="fal fa-heart"></i>
									</div>
									<p><a href="#">Tiffany & Co.</a></p>
									<span>$683</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="product">
								<div class="product-img-first">
									<img src="assets/img/stone/luna-product-12.jpg" alt="">
									<a href="product.html" class="product-link"></a>
									<div class="product-img-second">
										<img src="assets/img/stone/luna-product-12-1.jpg" alt="">
									</div>
								</div>
								<div class="product-content">
									<div class="product-content-title">
										<h5>
											<a href="#">Turquoise Stone</a>
										</h5>
										<i class="fal fa-heart"></i>
									</div>
									<p><a href="#">Tiffany & Co.</a></p>
									<span>$683</span>
								</div>
							</div>
						</div>
						<div class="product-circle">
							<i class="fal fa-circle active"></i>
							<i class="fal fa-circle"></i>
							<i class="fal fa-circle"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="products">
		<div class="container">
			<div class="section-title">
				<h4>Our Products</h4>
				<p>She who arrival end how fertile enabled. Brother she add yet see minuter natural smiling article painted</p>
			</div>
			<div class="row row-spacing-col-side row-spacing-120">
				<div class="col-lg-3 col-md-6">
					<div class="product">
						<div class="product-img-first">
							<img src="assets/img/product/luna-product-4.jpg" alt="">
							<a href="#" class="product-link"></a>
							<div class="product-img-second">
								<img src="assets/img/product/luna-product-4-1.jpg" alt="">
							</div>
						</div>
						<div class="product-content">
							<div class="product-content-title">
								<h5>
									<a href="#">Turquoise Stone</a>
								</h5>
								<i class="fal fa-heart"></i>
							</div>
							<p><a href="#">Tiffany & Co.</a></p>
							<span>$683</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="product">
						<div class="product-img-first">
							<img src="assets/img/product/luna-product-10-1.jpg" alt="">
							<a href="#" class="product-link"></a>
							<div class="product-img-second">
								<img src="assets/img/product/luna-product-10.jpg" alt="">
							</div>
						</div>
						<div class="product-content">
							<div class="product-content-title">
								<h5>
									<a href="#">Diamonds Open Ring</a>
								</h5>
								<i class="fal fa-heart"></i>
							</div>
							<p><a href="#">Tiffany & Co.</a></p>
							<span>$942</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="product">
						<div class="product-img-first">
							<img src="assets/img/product/luna-product-5.jpg" alt="">
							<a href="#" class="product-link"></a>
							<div class="product-img-second">
								<img src="assets/img/product/luna-product-5-1.jpg" alt="">
							</div>
							<div class="product-item">Hot</div>
						</div>
						<div class="product-content">
							<div class="product-content-title">
								<h5>
									<a href="#">Color clash tee</a>
								</h5>
								<i class="fal fa-heart"></i>
							</div>
							<p><a href="#">Taff</a></p>
							<span>$1,120</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="product">
						<div class="product-img-first">
							<img src="assets/img/product/luna-product-13.jpg" alt="">
							<a href="#" class="product-link"></a>
							<div class="product-img-second">
								<img src="assets/img/product/luna-product-13-1.jpg" alt="">
							</div>
						</div>
						<div class="product-content">
							<div class="product-content-title">
								<h5>
									<a href="#">Color clash tee</a>
								</h5>
								<i class="fal fa-heart"></i>
							</div>
							<p><a href="#">Taff</a></p>
							<span>$3,250</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row color-scheme-light row-spacing-col-side">
				<div class="col-lg-6 col-md-12">
					<div class="team-member-wrapper">
						<div class="team-member">
							<div class="team-member-photo">
								<img src="assets/img/luna-jewelry-cortney-ava.jpg" alt="">
							</div>
							<div class="team-member-sign">
								<h4>Courtney Henry</h4>
								<img src="assets/img/luna-jewelry-cortney-autograph.svg" alt="">
							</div>
							<p>She who arrival end how fertile enabled. Brother she add yet see minuter natural smiling article painted. Themselves at dispatched interested insensible am be prosperous reasonably it.</p>
							<div class="footer-block-button">
								<a href="#" class="button white-button">About us</a>
								<a href="#" class="button border-button">Contuct us</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="prod-news-wrapper">
						<div class="product-news">
							<h4>Did you like the theme? Subscribe and receive news</h4>
							<p>Placing assured be if removed it besides on. Far shed each high read are men over day.</p>
							<form action="#" class="news-form">
								<input type="email" placeholder="Your Email Address">
								<input type="button" value="Subscribe" class="button white-button">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="instagram">
		<div class="container">
			<div class="section-title">
				<h4>Our Instagram</h4>
				<p>She who arrival end how fertile enabled. Brother she add</p>
			</div>
			<div class="row row-spacing-col-side color-scheme-light">
				<div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
					<div class="inst-img">
						<a href="#"></a>
						<img src="assets/img/instagram/l-inst-1.jpg" alt="">
						<div class="inst-content">
							<div class="inst-item">
								<i class="fal fa-heart"></i>
								4K
							</div>
							<div class="inst-item">
								<i class="fal fa-comment"></i>
								32
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
					<div class="inst-img">
						<a href="#"></a>
						<img src="assets/img/instagram/l-inst-2.jpg" alt="">
						<div class="inst-content">
							<div class="inst-item">
								<i class="fal fa-heart"></i>
								4K
							</div>
							<div class="inst-item">
								<i class="fal fa-comment"></i>
								32
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
					<div class="inst-img">
						<a href="#"></a>
						<img src="assets/img/instagram/l-inst-3.jpg" alt="">
						<div class="inst-content">
							<div class="inst-item">
								<i class="fal fa-heart"></i>
								4K
							</div>
							<div class="inst-item">
								<i class="fal fa-comment"></i>
								32
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
					<div class="inst-img">
						<a href="#"></a>
						<img src="assets/img/instagram/l-inst-4.jpg" alt="">
						<div class="inst-content">
							<div class="inst-item">
								<i class="fal fa-heart"></i>
								4K
							</div>
							<div class="inst-item">
								<i class="fal fa-comment"></i>
								32
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
					<div class="inst-img">
						<a href="#"></a>
						<img src="assets/img/instagram/l-inst-5.jpg" alt="">
						<div class="inst-content">
							<div class="inst-item">
								<i class="fal fa-heart"></i>
								4K
							</div>
							<div class="inst-item">
								<i class="fal fa-comment"></i>
								32
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
					<div class="inst-img">
						<a href="#"></a>
						<img src="assets/img/instagram/l-inst-6.jpg" alt="">
						<div class="inst-content">
							<div class="inst-item">
								<i class="fal fa-heart"></i>
								4K
							</div>
							<div class="inst-item">
								<i class="fal fa-comment"></i>
								32
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="main-footer color-scheme-light">
		<div class="container">
			<div class="row spacing-col-20">
				<div class="col-lg-3 col-md-12 main-footer-left">
					<div class="white-logo">
						<a href="#"><img src="assets/img/luna-jewelry-logo-white.svg" alt=""></a>
					</div>
					<p>Luna is a great e-commerce jewelry theme. Judge views had mirth table seems.</p>
					<div class="footer-social">
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
						<a href="#"><i class="fab fa-behance"></i></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 vertical-menu-wrapper">
					<h5>Our Stores</h5>
					<ul class="vertical-menu">
						<li><a href="#">New York</a></li>
						<li><a href="#">London SF</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 vertical-menu-wrapper">
					<h5>Information</h5>
					<ul class="vertical-menu">
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Conditions</a></li>
						<li><a href="#">FAQs</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 vertical-menu-wrapper">
					<h5>Propereties</h5>
					<ul class="vertical-menu">
						<li><a href="#">Commercial</a></li>
						<li><a href="#">House</a></li>
						<li><a href="#">Office</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-12 vertical-menu-wrapper find-col">
					<h5>Find Us</h5>
					<div class="find-info">
						<i class="fas fa-location-arrow"></i>
						451 Wall Street, UK, London
					</div>
					<div class="find-info">
						<i class="fas fa-mobile-alt"></i>
						Phone: (064) 332-1233
					</div>
					<div class="find-info">
						<i class="fal fa-envelope"></i>
						Fax: (099) 453-1357
					</div>
				</div>
			</div>
			<div class="main-copyright">
				<p>Luna 2021 Created By Name Studio</p>
				<p>Waited period are played family man formed</p>
			</div>
		</div>
	</footer>
	<div class="scroll-to-top">
		<i class="far fa-angle-up"></i>
	</div>
</body>
</html>