//**** COLOR ****//

$title-color:  #333333;
$body-color: #555555;

//**** FONTS ****//

$body-font: 'Metropolis', sans-serif;
$title-font: 'Josefin Sans', sans-serif;


//**** TEG-STYLE ****//

body {
	font-family: $body-font;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
	color: $body-color;
	// overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $title-font;
	font-weight: 300;
	color: $title-color;
	margin-bottom: 20px;
}

h1 {
	font-size: 69px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 36px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 13px;
}

p {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #BCC6CD;
	transition: all .4s ease;

}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

small {
	font-size: 80%;
}

th {
	font-weight: 700;
	border: 2px solid rgba(16, 16, 16, 0.05);
}

tr {

	&:not(:last-child) {
		border-bottom: 1px solid rgba(0,0,0,.8);
	}
}

td {
	border: 2px solid rgba(16, 16, 16, 0.05);
	padding: 5px;
}

ul, ol {
	padding-left: 40px;
	margin-bottom: 20px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
	margin-bottom: 10px;
}

//**** FORM ****//

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='url'],
input[type='date'],
input[type='time'],
select,
textarea {
	border: 2px solid rgba(16, 16, 16, 0.05);
	outline: none;
	width: 100%;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='url'],
input[type='date'],
input[type='time'],
select {
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

textarea {
	height: 120px;
	padding: 20px;
}

::placeholder {
	color: rgba(16, 16, 16, 0.5);
}

input[type='submit'],
input[type='button'],
button,
.button {
	display: inline-block;
	padding: 11px 33px;
	border: 2px solid transparent;
	color: #fff;
	background-color: #4D6D3D;
	font-family: $title-font;
	font-size: 13px;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	transition: background-color .4s ease;

	&:hover {
		background-color: #9EB1BF;
	}
}

.button {

	&.border-btn {
		padding: 9px 20px;
		background-color: transparent;
		border: 2px solid rgba(255, 255, 255, .5);
	}

	&.white-btn {
		padding: 9px 20px;
		background-color: #fff;
		color: $body-color;
	}
}