@import './bootstrap-grid.scss';
@import './reset.scss';
@import './base-style.scss';

// ------------------------------------------
// MIXIN
// ------------------------------------------

@mixin absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// ------------------------------------------------------------------------------------------------
// MAIN-HEADER
// ------------------------------------------------------------------------------------------------

.main-header {
	position: fixed;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 100;
}

.header-row,
.main-menu,
.header-col-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-row {
	height: 100px;
	background: #fff;
}

.header-col-left {
	flex-shrink: 0;
	margin-right: 68px;
	margin-left: 40px;
}

.hedaer-col-center {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: flex-start;
}

.main-menu {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	white-space: nowrap;

	li {
		margin-bottom: 0;
	}

	a {
		display: inline-block;
		color: $title-color;
		padding: 15px;

		&:hover {
			color: $hover-green;

			i {
				color: $hover-green;
			}
		}

		i {
			margin-left: 3px;
			color: #333333;
			transition: color .4s ease;
		}
	}
}

.header-col-right {
	margin-left: 20px;
	margin-right: 40px;

	i {
		padding: 10px 20px;
		color: $title-color;
		transition: color .4s ease;
		cursor: pointer;

		&:hover {
			color: $hover-green;
		}
	}
}

// ------------------------------------------------------------------------------------------------
// SLIDER
// ------------------------------------------------------------------------------------------------

.slider {
	position: relative;
	min-height: 880px;
	background: #5E824C;
}

.slider-col-left {
	padding-top: 260px;

	.footer-block-button {
		margin-bottom: 80px;
	}

	h1 {
		line-height: 1.2;
		text-transform: capitalize;
	}

	p {
		letter-spacing: 1px;
		margin-bottom: 40px;
	}
}

.slider-nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.slider-nav-item {
	display: flex;

	.prev {
		margin-right: 36px;
	}
}

.prev,
.slide-next {
	cursor: pointer;
	transition: opacity .4s ease;

	&:hover {
		opacity: .6;
	}
}

.footer-block-button {

	.white-button {
		margin-right: 20px;
	}
}

.slider-nav-number {
	display: flex;
	align-items: flex-end;
	font-family: $title-font;
	font-size: 40px;
	font-weight: 300;

	span {
		font-size: 80px;
	}
}

.slider-col-right {
	padding-top: 180px;
	padding-bottom: 20px;
	z-index: 2;
}

.slider-col-inner {
	margin-left: 40px;
}

.slider-col-img {
	position: relative;
	max-width: 480px;
}

.slider-vector {
	position: absolute;
	bottom: -40px;
	right: -100px;
}

.slider-bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 710px;
	height: 920px;
	background-color: #dcad8b;
}

// ------------------------------------------------------------------------------------------------
// COLLECTION
// ------------------------------------------------------------------------------------------------

.collection {
	background: #FCF8F8;
	padding-top: 120px;
	padding-bottom: 100px;
}

.row-spacing-110 {
	margin-bottom: 110px;

	> [class*="col-"] {
		margin-bottom: 30px;
	}
}

.collection-img {
	display: flex;

	.collection-big-word {
		margin-left: 25px;
	}
}

.collection-wrapper {
	display: flex;
	align-items: center;
}

.product-info {
	display: flex;
	flex-direction: column;
	justify-content: center
	}

.collection-info {
	max-width: 580px;

	p {
		padding-right: 50px;
		margin-bottom: 40px;
	}
}

// ------------------------------------------
// PRODUCT
// ------------------------------------------

.product {
	padding: 20px;
	background: #fff;

	&:hover {

		.product-img-second {
			opacity: 1;
			visibility: visible;
		}
	}
}

.product-img-first {
	position: relative;
	margin-bottom: 20px;

	.product-link {
		z-index: 1;

		@include absolute;
	}
}

.product-img-second {
	opacity: 0;
	visibility: hidden;
	transition: opacity .4s ease;

	@include absolute;
}

.product-item {
	position: absolute;
	top: 10px;
	left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #4d6d3d;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.product-content {

	h5 {
		margin-bottom: 5px;

		a {
			color: $title-color;

			&:hover {
				color: $hover-green;
			}
		}
	}

	p {
		a {
			&:hover {
				color: $hover-green;
			}
		}
	}

	span {
		color:  #4d6d3d;
	}
}

.product-content-title {
	display: flex;
	justify-content: space-between;
	align-items: center;

	i {
		font-size: 18px;
		font-weight: 400;
		cursor: pointer;
		transition: color .4s ease;

		&:hover {
			color: rgb(255, 15, 15);
		}
	}
}

.product-circle {
	display: flex;
	line-height: 1;
	margin: 0 auto;

	.active {
		font-weight: 700;
	}

	i {
		padding: 2px;
		font-size: 10px;
		color: $body-color;
		opacity: .5;
		cursor: pointer;
		transition: opacity .4s ease;

		&:hover {
			opacity: 1;
		}
	}
}

// ------------------------------------------------------------------------------------------------
// STONE
// ------------------------------------------------------------------------------------------------

.stone {
	padding-top: 40px;
	padding-bottom: 100px;
	background: #EFF1F4;
}

.product-info-stone {
	max-width: 460px;
	margin-bottom: 40px;
	margin-top: 75px;

	h2 {
		padding-right: 58px;
		margin-bottom: 10px;
	}
}

.prod-spacing-col-20 {
	margin-bottom: 30px;
}

// ------------------------------------------------------------------------------------------------
// PRODUCTS
// ------------------------------------------------------------------------------------------------

.products {
	background: #FCF8F8;
	padding-top: 80px;
	padding-bottom: 100px;

	.row-spacing-col-side {
		margin-bottom: 120px;
	}
}

.section-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;

	h4 {
		margin-bottom: 10px;
	}

	p {
		max-width: 460px;
		text-align: center;
	}
}

.team-member-wrapper {
	margin-top: 60px;
	margin-bottom: 20px;
}

.team-member {
	position: relative;
	background: #5E824C;
	padding-left: 60px;
	padding-right: 120px;
	padding-bottom: 42px;
	padding-top: 40px;
}

.team-member-photo {
	position: absolute;
	top: -40px;
	left: 60px;

	img {
		border-radius: 50%;
	}
}

.team-member-sign {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	max-width: 370px;
	margin-bottom: 20px;

	h4 {
		margin-bottom: 0;
	}
}

.prod-news-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(img/luna-jewelry-subscribe-bg.jpg)center no-repeat;
	background-size: cover;
	height: 100%;
	padding: 20px;
}

.product-news {
	text-align: center;
	max-width: 460px;
}

.news-form {
	display: flex;
	align-items: center;

	input[type='email'] {
		margin-right: 20px;
	}
}

@import './media.scss'
