@import './bootstrap-grid.scss';
@import './reset.scss';
@import './base-style.scss';

// ------------------------------------------
// MIXIN
// ------------------------------------------

@mixin absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// ------------------------------------------
// MODULES
// ------------------------------------------

.container {
	width: 1450px;
	max-width: 100%;
}

.color-scheme-light {
	color: #fff;
	
	h1,h2,h3,h4,h5,h6,i,a {
		color: #FFF;
	}
	
	p, ul {
		color: rgba(255,255,255,.8);
	}
}

.main-burger {
	display: none;
	padding: 15px;
	font-size: 30px;
	margin-right: 25px;
	cursor: pointer;
	transition: color .4s ease;

	&:hover {
		color: #DCAD8B;
	}

	
}

// ------------------------------------------------------------------------------------------------
// MAIN-HEADER
// ------------------------------------------------------------------------------------------------

.main-header {
	position: fixed;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 100;
}

.header-row,
.main-menu,
.header-col-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-row {
	height: 100px;
	background: #fff;
}

.header-col-left {
	flex-shrink: 0;
	margin-right: 68px;
	margin-left: 40px;
}

.hedaer-col-center {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: flex-start;
}

.main-menu {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;

	li {
		margin-bottom: 0;
	}

	a {
		display: inline-block;
		color: inherit;
		padding: 15px;

		&:hover {
			color: #DCAD8B;

			i {
				color: #DCAD8B;
			}
		}

		i {
			margin-left: 3px;
			color: #333333;
			transition: color .4s ease;
		}
	}
}

.header-col-right {
	margin-left: 20px;
	margin-right: 40px;

	i {
		padding: 10px 20px;
		transition: color .4s ease;
		cursor: pointer;

		&:hover {
			color: #DCAD8B;
		}
	}
}

// ------------------------------------------------------------------------------------------------
// SLIDER
// ------------------------------------------------------------------------------------------------

.slider {
	position: relative;
	min-height: 880px;
	background: #5E824C;
}

.slider-col-left {
	padding-top: 260px;

	h1 {
		line-height: 1.2;
		text-transform: capitalize;
	}

	p {
		letter-spacing: 1px;
		margin-bottom: 40px;
	}
}

.slider-nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.slider-nav-item {
	display: flex;

	.prev {
		margin-right: 36px;
	}
}

.prev,
.slide-next {
	cursor: pointer;
	transition: opacity .4s ease;

	&:hover {
		opacity: .6;
	}
}

.slider-btn {
	margin-bottom: 80px;

	.white-btn {
		margin-right: 20px;
	}
}

.slider-nav-number {
	display: flex;
	align-items: flex-end;
	font-family: $title-font;
	font-size: 40px;
	font-weight: 300;

	span {
		font-size: 80px;
	}
}

.slider-col-right {
	padding-top: 180px;
	padding-bottom: 20px;
	z-index: 2;
}

.slider-col-inner {
	margin-left: 40px;
}

.slider-col-img {
	position: relative;
	max-width: 480px;
}

.slider-vector {
	position: absolute;
	bottom: -40px;
	right: -100px;
}

.slider-bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 710px;
	height: 920px;
	background-color: #dcad8b;
}

// ------------------------------------------------------------------------------------------------
// COLLECTION
// ------------------------------------------------------------------------------------------------

.collection {
	background: #FCF8F8;
	padding-top: 120px;
	padding-bottom: 120px;
}

.collection-wrapper {
	display: flex;
	align-items: center;
}

.collection-info {
	max-width: 580px;

	p {
		padding-right: 50px;
		margin-bottom: 40px;
	}
}


@import './media.scss'
