// ------------------------------------------
// MAX-WIDTH 1190 PX
// ------------------------------------------

@media (max-width: 1190px) {

		h1 {
			font-size: 48px;
		}

	.slider-vector,
	.slider-bg {
		display: none;
	}
}

// ------------------------------------------
// MAX-WIDTH 1024 PX
// ------------------------------------------

@media (max-width: 1024px) {

	.slider-button {
		margin-bottom: 30px;
	}

	.collection {
		padding-top: 50px;
		padding-bottom: 30px;
	}

	.row-spacing-110 {
		margin-bottom: 20px;
	}

	.product-info {

		h3 {
			font-size: 32px;
		}
	}

	.stone {
		padding-bottom: 20px;
	}

	.product-info-stone {
		margin-top: 0;
	}
}

// ------------------------------------------
// MAX-WIDTH 990 PX
// ------------------------------------------

@media (max-width: 990px) {

	.main-menu,
	.hedaer-col-center,
	.header-col-right {
		display: none;
	}

	.header-col-left {
		margin-right: 20px;
	}

	.main-burger {
		display: inline-flex;
	}

	.slider {
		min-height: 690px;
	}

	.slider-col-left {
		padding-top: 180px;
	}

	.slider-col-inner {
		margin-left: 0;
	}

	.collection-img {

		.collection-big-word {
			display: none;
		}

		img {
			width: 100%;
		}
	}
}

// ------------------------------------------
// MAX-WIDTH 768 PX
// ------------------------------------------

@media (max-width: 768px) {

	h2 {
		font-size: 40px;
	}

	.slider-col-img {

		img {
			width: 100%;
		}
	}

	.slider-nav-number {
		font-size: 30px;

		span {
			font-size: 56px;
		}
	}

	.product-info-stone {
		margin-bottom: 20px;

		h2 {
			padding-right: 0;
			margin-bottom: 5px;
		}

		p {
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 767px) {

	.slider {
		min-height: auto;
	}

	.slider-nav {
		align-items: center;
		padding-bottom: 10px;
	}

	.slider-col-right {
		display: none;
	}
}

// ------------------------------------------
// MAX-WIDTH 576 PX
// ------------------------------------------

@media (max-width: 576px) {

	h1 {
		font-size: 34px;
	}

	h2 {
		font-size: 28px;
	}

	p {
		font-size: 14px;
	}

	.header-row {
		height: 70px;
	}

	.header-col-left {
		margin-left: 20px;
	}

	.main-burger {
		margin-right: 5px;
	}

	.slider-col-left {
		padding-top: 130px;

		p {
			margin-bottom: 20px;
		}
	}

	.slider-nav-number {
		display: none;
	}

	.collection-info {

		p {
			margin-bottom: 15px;
		}
	}

	.product-info {

		h3 {
			font-size: 24px;
			margin-bottom: 15px;
		}
	}

	.product-img-first {
		margin-bottom: 10px;
	}

	.product-content {

		p {
			margin-bottom: 5px;
		}
	}
}