<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../assets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Open+Sans&display=swap" rel="stylesheet">
	<link href="http://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet">
	<title>Document</title>
	<style>
		body > div {
			margin-bottom: 40px;
		}
	</style>
</head>
<body>
	<!-- TEXT -->
	<div>
		<h1>Heading title 1</h1>
		<h2>Heading <small>title</small> 2</h2>
		<h3>Heading <strong>title</strong> 3</h3>
		<h4>Heading <a href="#">title</a> 4</h4>
		<h5>Heading <em>title</em> 5</h5>
		<h6>Heading <span>title</span> 6</h6>
		<p>Lorem ipsum dolor sit amet consectetur, <strong>adipisicing</strong> elit. Repudiandae culpa, molestiae error <span>placeat</span> necessitatibus <u>commodi?</u> Neque itaque corrupti expedita ipsum.</p>
		<p>Lorem ipsum dolor sit amet consectetur, <em>adipisicing</em> elit. Repudiandae culpa, molestiae error <span>placeat</span> necessitatibus <u>ommodi?</u> Neque itaque corrupti expedita ipsum.</p>
		<p>Lorem ipsum dolor sit amet consectetur, <a href="#">adipisicing</a> elit. Repudiandae culpa, molestiae error <span>placeat</span> necessitatibus <u>commodi?</u> Neque itaque corrupti expedita ipsum.</p>
		<p>Lorem ipsum dolor sit amet consectetur, <small>adipisicing</small> elit. Repudiandae culpa, molestiae error <span>placeat</span> necessitatibus <u>commodi?</u> Neque itaque corrupti expedita ipsum.</p>
	</div>
	<!-- IMAGE -->
	<div>
		<img src="https://via.placeholder.com/500" alt="image">
	</div>
	<!-- TABLE -->
	<div>
		<table>
			<thead>
				<tr>
					<th>№</th>
					<th>Date</th>
					<th>Title</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td>1.</td>
						<td>29.01.2021</td>
						<td>Luna</td>
					</tr>
					<tr>
						<td>2.</td>
						<td>01.02.2021</td>
						<td>Free agency</td>
					</tr>
					<tr>
						<td>3.</td>
						<td>03.02.2021</td>
						<td>Tanatos</td>
					</tr>
					<tr>
						<td>4.</td>
						<td>04.02.2021</td>
						<td>Mache</td>
					</tr>
					<tr>
						<td>5.</td>
						<td>08.02.2021</td>
						<td>Nava</td>
					</tr>
					<tr>
						<td>6.</td>
						<td>09.02.2021</td>
						<td>Apriori</td>
					</tr>
					<tr>
						<td>7.</td>
						<td>12.02.2021</td>
						<td>Take of app</td>
					</tr>
					<tr>
						<td>8.</td>
						<td>15.02.2021</td>
						<td>Blog final</td>
					</tr>
					<tr>
						<td>9.</td>
						<td>16.02.2021</td>
						<td>App nest</td>
					</tr>
					<tr>
						<td>10.</td>
						<td>18.02.2021</td>
						<td>Fashion</td>
					</tr>
					<tr>
						<td>11.</td>
						<td>22.02.2021</td>
						<td>Creative dropdowns</td>
					</tr>
					<tr>
						<td>12.</td>
						<td>23.02.2021</td>
						<td>eCommerce</td>
					</tr>
					<tr>
						<td>13.</td>
						<td>25.02.2021</td>
						<td>Construction</td>
					</tr>
					<tr>
						<td>14.</td>
						<td>03.03.2021</td>
						<td>Joints report</td>
					</tr>
					<tr>
						<td>15.</td>
						<td>05.03.2021</td>
						<td>Blue Rex</td>
					</tr>
					<tr>
						<td>16.</td>
						<td>09.03.2021</td>
						<td>Consult Plus</td>
					</tr>
			</tbody>
		</table>
	</div>
	<!-- LISTS -->
	<div>
		<ul>
			<li>Unordered list item 1</li>
			<li>Unordered list item 2</li>
			<li>Unordered list item 3</li>
			<li>Unordered list item 4</li>
			<li>Unordered list item 5</li>
			<li>Unordered list item 6</li>
			<li>Unordered list item 7</li>
			<li>Unordered list item 8</li>
			<li>Unordered list item 9</li>
		</ul>
		<ol>
			<li>Ordered list item 1</li>
			<li>Ordered list item 2</li>
			<li>Ordered list item 3</li>
			<li>Ordered list item 4</li>
			<li>Ordered list item 5</li>
			<li>Ordered list item 6</li>
			<li>Ordered list item 7</li>
			<li>Ordered list item 8</li>
			<li>Ordered list item 9</li>
		</ol>
	</div>
	<!-- FORMS -->
	<div>
		<form action="">
			<label for="email-input">Email label</label>
			<input type="email" id="email-input" placeholder="email">
			<input type="number" placeholder="number">
			<input type="password" placeholder="password">
			<input type="tel" placeholder="tel">
			<input type="text" placeholder="text">
			<input type="url" placeholder="url">
			<input type="date" placeholder="date">
			<input type="time" placeholder="time">
			<select name="Select" id="">
				<option value="">Option 1</option>
				<option value="">Option 2</option>
				<option value="">Option 3</option>
				<option value="">Option 4</option>
				<option value="">Option 5</option>
				<option value="">Option 6</option>
			</select>
			<textarea name="" id="" cols="30" rows="10"></textarea>
			<input type="button" onclick="alert('Hello World!')" value="submit">
			<input type="submit" value="submit">
			<button>submit</button>
			<a href="#" class="button">submit</a>
		</form>
	</div>
	<!-- FORMS RADIO -->
	<div>
		<form action="">
			<input type="radio" id="male" name="gender" value="male">
			<label for="male">Male</label><br>
			<input type="radio" id="female" name="gender" value="female">
			<label for="female">Female</label><br>
			<input type="radio" id="other" name="gender" value="other">
			<label for="other">Other</label>
		  </form>
	</div>
	<!-- FORMS CHECKBOX -->
	<div>
		<form action="">
			<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
			<label for="vehicle1"> I have a bike</label><br>
			<input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
			<label for="vehicle2"> I have a car</label><br>
			<input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
			<label for="vehicle3"> I have a boat</label>
		  </form>
	</div>
	<!-- OTHER TAGS -->
	<div>
		<header></header>
		<section></section>
		<article></article>
		<aside></aside>
		<footer></footer>
	</div>
</body>
</html>