
@font-face {
    font-family: 'FuturaLT';
    font-weight: 400;
    src: url("../font/FuturaLT-Book.ttf");
}
    
    
@font-face {
font-family: 'FuturaLT';
font-weight: 700;
src: url("../font/FuturaLT-Bold.ttf");

}


@font-face {
font-family: 'FuturaLT';
font-style: oblique;
font-weight: 400;
src: url("../font/FuturaLT-BookOblique.ttf");
}
