//==============================================
//            MAX WIDTH 768px
//==============================================



@media (max-width: 768px) {
    .main {
        padding-top: 5px;
        padding-bottom: 5px;
        
        .menu, .btn-search {
            display: none;
        }
    }

    .about-company {

        .content {

            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
        }
    }

    .choose-us {
        margin-bottom: 45px;
    }

    .our-services {

        .content {
            margin-bottom: 40px;
        }
    }

    .burger {
        
        display: flex;
    }



    

    .top-bar-bg {
        display: none;
    }
    

}
//==============================================
//            MAx WIDTH 992px
//==============================================


@media (max-width: 992px){

    .choose-us {
        
        padding-top: 70px;
        padding-bottom: 35px;
        
        .content {
            margin-bottom: 35px;
        }
    }

    .top-contact {
        justify-content: space-between; 
        flex-grow: 1; 
    }
    
    .icons {
        display: none;
    }

    .first-screen {
        
        padding-top: 100px;
        padding-bottom: 100px;

        p.subtitle {
            font-size: 30px;
            margin-bottom: 14px;
            line-height: 1.2;
        }

        h1 {
            font-size: 50px;
            line-height: 1.2;
        }

        p{
            font-size: 19px;
            &:last-of-type  {  
                margin-bottom: 40px;
            }
        }
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    h5 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
    .button {
        font-size: 14px;
    }
    .about-company {

        .content {

            

            .subtitle {
                font-size: 20px;
            }
        }
    }
    .our-services .content p {
        line-height: 1.4;
    }
    
    
    .review, .review-large {
        text-align: center;
        padding: 44px 30px ;
    }

    .form-title {
        text-align: center;
        margin-bottom: 40px;
    }
    input {
        margin-bottom: 20px;
    }


    .review  {
        .inner::before {
            top: -40px;
            left: -25px;
        }
    }

}

@media (max-width: 1200px){

    footer {

        .row {

            >div {

                margin-bottom: 40px;
            }
        }
    }
    
}
//==============================================
//            MAX WIDTH 1140px
//==============================================

@media (max-width: 1140px){
    .form-title {
        font-size: 35px;
    
        span {
            font-size: 25px;
        }
    }
    
}

//==============================================
//            MAX WIDTH 665px 
//==============================================

@media (max-width: 665px) {
    .categories {
        justify-content: flex-start;
    }
}

@media (max-width: 576px) {
    
    .button-wrapper {
        
        .button {

            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }

    .first-screen {
        padding-top: 50px;
        padding-bottom: 50px;

        p.subtitle {
            font-size: 18px;
        }

        h1 {
            font-size: 25px;
        }

        h2{
            font-size: 20px;
        }
        h3{
            font-size: 15px;
        }

        p {
            font-size: 12px;
        }


    }

    
}
