// ------------------------------------------------------------------------------------------------
// MEDIA
// ------------------------------------------------------------------------------------------------

@media (max-width: 1160px) {

	.blog-inner {
		max-width: initial;
		margin-right: 0;
	}
}

@media (max-width: 1024px) {

	.main-menu {
		display: none;
	}

	.main-burger {
		display: block;
		margin-left: 25px;
		margin-right: -15px;
	}

	.about-left {

		h3 {
			font-size: 26px;
			margin-bottom: 10px;
		}

		p {
			line-height: 1.4;
			margin-bottom: 10px;
		}
	}

	.clients-text-top {
		padding-right: 0;
	}
}

//**** MAX-WIDTH 991px ****//

@media (max-width: 991px) {

	.industry-col {

		&:nth-last-child(2) {
			border-bottom: 1px solid #00A6D3;;
		}
	}

	.about-excellence {
		display: none;
	}

	.about {
		margin-bottom: 45px;
	}

	.about-btm {
		margin-bottom: 20px;

		img {
			width: 100%;
		}
	}

	.steps {
		margin-top: 0;
		padding-top: 60px;
		padding-bottom: 30px;
	}

	.infobox-wrapper {

		img {
			margin-bottom: 10px;
		}

		h5 {
			margin-bottom: 15px;
		}
	}

	.infobox-number {
		margin-bottom: 5px;
	}

	.main-footer {
		padding-top: 45px;
		padding-bottom: 45px;

		.row {

			> div {
				margin-bottom: 20px;
			}
		}
	}

	.main-footer-row {
		padding-bottom: 25px;

		h4 {
			margin-bottom: 10px ;
		}
	}

	.newsletter-form {

		input[type=text] {
			width: 500px;
		}
	}

	.main-footer-col {
		order: 4;

		p {
			margin-bottom: 25px;
			max-width: none;
		}
	}

	.info-list {

		a {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	.wedo {

		.row {

			> div {
				margin-bottom: 30px;
			}
		}
	}

	.core {
		margin-top: 0;
		padding-top: 45px;
		padding-bottom: 15px;

		h3 {
			margin-bottom: 20px;
		}
	}

	.vision {

		.row {
			padding-bottom: 45px;
		}
	}

	.vision-btn-top {
		margin-top: 0;
	}

	.support-ind {

		.row {

			> div {
				margin-bottom: 35px;

				&:nth-last-child(1),
				&:nth-last-child(2) {
					margin-bottom: 35px;
					}
			}
		}
	}

	.project-row-btm {
		margin-bottom: 30px;
	}
}

//**** MAX-WIDTH 768px ****//

@media (max-width: 768px) {

	.header-top {
		display: none;
	}

	.industry,
	.project,
	.steps,
	.blog,
	.consulting,
	.section-top,
	.core,
	.vision,
	.management,
	.support-ind {
		margin-bottom: 45px;
	}

	.about {
		margin-bottom: 25px;
	}

	.slider-left,
	.slider-right {
		display: none;
	}

	.industry-slider-box {
		max-width: 100%;
	}

	.clients-col {

		p {
			margin-bottom: 0;
		}
	}

	.clients-border {
		display: none;
	}

	.clients {
		padding-top: 45px;
		padding-bottom: 45px;

		.clients-row-btm,
		h3 {
			margin-bottom: 20px;
		}
	}

	.blog-top {
		margin-bottom: 20px;
	}

	.blog-item {

		h5 {
			margin-bottom: 5px;
		}

		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	.wedo-left {

		p {
			max-width: none;
		}
	}

	.wedo-text {
		max-width: none;
	}

	.vision {

		.row {
			margin-bottom: 20px;
		}
	}

	.vision-img {
		margin-bottom: 20px;
	}

	.management {

		h3 {
			margin-bottom: 20px;
		}
	}

	.infobox-hor-inner {

		p {
			margin-bottom: 15px;
		}
	}

	.management-btn-top {
		margin-top: 0;
	}

	.ind-projects {
		padding-top: 45px;
		padding-bottom: 45px;
	}
}

//**** MAX-WIDTH 485 ****//

@media (max-width: 485px) {

	.button {
		font-size: 10px;
	}

	.back-orange {

		h3 {
			font-size: 26px;
		}
	}

	.blog-right {
		display: none;
	}

	.blog-title {

		h3 {
			margin-bottom: 10px;
		}
	}

	.newsletter-form {

		input[type=text] {
			height: 35px;
			padding-left: 10px;
			padding-right: 65px;
			width: 100%;
		}

		input[type=submit] {
			height: 35px;
			padding: 10px 15px;
		}
	}

	.blog-tab {

		a {
			font-size: 10px;
		}
	}

	.infobox-hor {
		flex-wrap: wrap;
	}

	.infobox-hor-img {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.infobox-hor-prof {
		margin-bottom: 10px;
	}
}

//**** MAX-WIDTH  ****//

@media (max-width: 372px) {

	.consulting-inner {
		flex-wrap: wrap;

		img {
			margin-bottom: 10px;
		}
	}
}